@model RD.Models.ScientificDoc;

@{
    ViewBag.Title = "Научно-техническая документация";
    Layout = "_Layout";
}


<h3>Научно-техническая документация <a asp-controller="ScientificDocs" asp-action="ScientificDoc"> + </a> </h3>

<table class="table table-hover " style="text-align: center;">

    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Наименование</th>
            <th scope="col">Результат</th>
            <th scope="col">Расположение</th>
            <th scope="col">Записи</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var scientificDoc in @ViewBag.ScientificDocs)
        {
        <tr>
            <td><a class="nav-link" asp-controller="Docs" asp-action="Index">Документы</a> </td>

            <td>@scientificDoc.Name</td>
            <td>@scientificDoc.Result</td>
            <td>@scientificDoc.Location</td>
            <td>@scientificDoc.Note</td>

            <td>@Html.ActionLink("изменить", "ChangingScientificDoc", new { id = scientificDoc.Id })</td>
            <td><a onclick="deleteScientificDoc('@scientificDoc.Id')" href="#"> удалить </a></td>
        </tr>
        }
    </tbody>
</table>

@*<form method="post" asp-action="ScientificDocs" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Добавление документации</h4>

        <tr>
            <td style="padding: 4px;">Наименование:</td>
            <td style="padding: 4px;">
                <input name="Name" />
            </td>
        </tr>
       
        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Добавить" />
            </td>
            <td></td>
        </tr>

    </table>
</form>*@


<script type="text/javascript">
        function deleteScientificDoc(scientificDocId) {
            $.ajax({
                url: '/delete_scientific_doc/' + scientificDocId,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Ошибка выполнения!")
                }
            })
        }
</script>