@model RD.Models.Stage;

@{
    ViewBag.Title = "Редактирование этапа";
    Layout = "_Layout";

    string WorkStart = "";
    string WorkEnd = "";

}

@{
    @if (ViewBag.CurrentStage.WorkStart != null)
    {
        WorkStart = @ViewBag.CurrentStage.WorkStart.ToString("yyyy-MM-dd");
    }
    else
    {
        WorkStart = @ViewBag.CurrentStage.WorkStart;
    }

    @if (ViewBag.CurrentStage.WorkEnd != null)
    {
        WorkEnd = @ViewBag.CurrentStage.WorkEnd.ToString("yyyy-MM-dd");
    }
    else
    {
        WorkEnd = @ViewBag.CurrentStage.WorkEnd;
    }
}


<h3>Изменение этапа</h3>

@using (Html.BeginForm("Edit", "Stages", FormMethod.Post))
{
<table>

    <input name="ThemeName" type="text" hidden value="@ViewBag.ThemeName" />
    <input name="ThemeId" type="number" hidden value="@ViewBag.ThemeId" />
    <input name="Id" type="number" hidden value="@ViewBag.CurrentStage.Id" />

    <tr>
        <td style="padding: 4px;">№ этапа:</td>
        <td style="padding: 4px;">
            <input type="text" name="StageNumber" value="@ViewBag.CurrentStage.StageNumber" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Наименование этапа:</td>
        <td style="padding: 4px;">
            <input type="text" name="StageName" value="@ViewBag.CurrentStage.StageName" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Срок - начало:</td>
        <td style="padding: 4px;">
            <input type="date" id="WorkStart" name="WorkStart" value="@WorkStart" min="1950-01-01" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Срок - конец:</td>
        <td style="padding: 4px;">
            <input type="date" id="WorkEnd" name="WorkEnd" min="1950-01-01" value="@WorkEnd" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Сумма этапа:</td>
        <td style="padding: 4px;">
            <input type="text" name="Amount" value="@ViewBag.CurrentStage.Amount" />
        </td>
    </tr>


    <tr>
        <td style="padding: 4px;">Акт о завершении:</td>
        <td style="padding: 4px;">
            <input type="text" name="CompletionAct" value="@ViewBag.CurrentStage.CompletionAct" />
        </td>
    </tr>


    <tr>
        <td style="padding: 4px;">Статус:</td>
        <td style="padding: 4px;">
            <select name="Status" size="1">

                @if (@ViewBag.CurrentStage.Status == "Завершен")
                {
                    <option value="Завершен" selected>Завершен</option>
                    <option value="Не звершен">Не завершен</option>
                    <option value=""> </option>
                }

                else if (@ViewBag.CurrentStage.Status == "Не завершен")
                {
                    <option value="Завершен">Завершен</option>
                    <option value="Не завершен" selected>Не завершен</option>
                    <option value=""> </option>
                }

                else
                {
                    <option value="Завершен">Завершен</option>
                    <option value="Завершен">Не завершен</option>
                    <option value="" selected> </option>
                }


            </select>
        </td>
    </tr>




    @*@Html.DropDownListFor(model => model.TeamId, ViewBag.Teams as SelectList)*@


    @*<td style="padding: 4px;">
            <select name="DocType" size="1">
                <option @{if (el= =0) { @("selected") } } value="Гос. Контракт">Гос. Контракт</option>
                <option @{if (el= =1) "selected" } value="Договор">Договор</option>
                <option @{if (el= =2) "selected" } value="Контракт">Контракт</option>
                <option @{if (el= =3) "selected" } value="Хоз. договора">Хоз. договора</option>
            </select>
        </td>*@





    @*@(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "")

        <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.ResearchType)
            </td>*@

    <tr><br></tr>

    <tr>
        <td style="padding: 4px;">
            <a class="btn btn-outline-dark" href="/Stages?themeId=@ViewBag.ThemeId&themeName=@ViewBag.ThemeName">Отмена</a>
            <input type="submit" class="btn btn-outline-primary submitBtn" value="Изменить этап" />
        </td>
    </tr>


</table>

}

