@model RD.Models.Stage;

@{
    ViewBag.Title = ViewBag.ThemeName;
    Layout = "_Layout";

    List<string> stageLevel1 = new List<string> { "Разработка ТЗ НИР", "Выбор направления исследования", "Теоретические и экспериментальные исследования" };

    var stageLevel2 = new string[][] {
        new string[] { "Сбор и изучение научно-технической литературы, нормативно-технической документации,  эксплуатационной информации об аналоговых и других материалах, относящихся к разрабатываемой теме." , "Проведение патентных исследований. Составление отчета по патентным исследованиям в соответствии с ГОСТ 15.011" },
        new string[] { "Разработка рабочих гипотез, построение моделей объекта исследований, обоснование допущений." , "Выявление необходимости проведения экспериментов для подтверждения отдельных положений теоретических исследований для получения конкретных значений параметров (коэффициентов, необходимых для проведения расчетов)." }
    };
}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 style="color: #343a40;">Тема - @ViewBag.ThemeName</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                @* <h4> <a class="nav-link text-primary" asp-controller="Stage" asp-action="Stage">Добавить этап</a> </h4>*@
                <h6> <a class="nav-link" asp-route-themeName="@ViewBag.ThemeName" asp-controller="Stages" asp-action="Stage">Добавить этап</a> </h6>
            </div>


            <div class="col-sm">
                <h6> <a class="nav-link" asp-area="" asp-route-themeName="@ViewBag.ThemeName" asp-controller="AnnualFinancings" asp-action="Index">Финансирование</a> </h6>
            </div>

            @*<div class="col-sm">
            <h5> <a class="nav-link" href="#">Договоры</a> </h5>
        </div>*@

            <div class="col-sm">
                <h6> <a class="nav-link" asp-controller="Files" asp-action="Index">Файлы</a> </h6>
            </div>

            <div class="col-sm">
                <h6> <a class="nav-link" asp-controller="Contracts" asp-action="Index">Договоры</a></h6>
            </div>

            <div class="col-sm">
                <h6> <a class="nav-link" asp-area="" asp-controller="RIAs" asp-action="Index">РИД</a> </h6>
            </div>

            <div class="col-sm">
                <h6> <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Продукты</a> </h6>
            </div>

            <div class="col-sm">
                <h6> <a class="nav-link" asp-area="" asp-controller="ScientificDocs" asp-action="Index">Научно-техническая документация</a> </h6>
            </div>

            <div class="col-sm">
                <h6> <a class="nav-link" asp-area="" asp-route-themeName="@ViewBag.ThemeName" asp-controller="TRLs" asp-action="Index">TRL</a> </h6>
            </div>



        </div>
    </div>

        <script>
            $(document).ready(function () {
                $('[data-toggle="toggle"]').change(function () {
                    $(this).parents().next('.hide').toggle();
                });
            });

            $(document).ready(function () {
                $(".expandFRED").click(function () {
                    $(".expandSUB1").toggle();
                });
                $(".expandFRED2").click(function () {
                    $(".expandSUB2").toggle();
                });
                $(".expandVALS").click(function () {
                    $(".expandCAT1").toggle();
                });
            })
        </script>

        <style>
            .label tr td label {
                display: block;
            }

            [data-toggle='toggle'] {
                display: none;
            }

            .expandSUB1 {
                display: none;
            }

            .expandSUB2 {
                display: none;
            }

            . {
                display: none;
            }

                .expandCAT1 {
                    display: none;
                }
        </style>


        <div style="overflow-x:auto;">
            <table class="table table-hover table-bordered" style="text-align: center; ">

                <thead>
                    <tr>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">№ этапа</th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Этап</th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Срок выполнения - начало</th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Срок выполнения - конец</th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Сумма этапа</th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Акт о завершении</th>
                        <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Статус</th>
                    </tr>
                </thead>

                @{int i = 0;}
                @foreach (var stage in @ViewBag.Stages)
                {
                    <tbody style="background-color: #ececec;">
                        <tr>
                            <td></td>
                            <td>@stage.NumStage</td>
                            <td class='expandFRED'>@stageLevel1[i] ▼</td>
                            <td>@stage.WorkStart</td>
                            <td>@stage.WorkEnd</td>
                            <td>@stage.Amount</td>
                            <td>@stage.CompletionAct</td>
                            <td>@stage.Status</td>


                        </tr>
                    </tbody>

                    int j = 0;
                    int iView = i + 1;
                    int jView;

                    @foreach (var stage2 in stageLevel2[i])
                    {
                        jView = j + 1;

                        <tbody class="hide">
                            <tr>
                                <td class='expandSUB1 expandVALS'></td>
                                <td class='expandSUB1'>@iView.@jView </td>
                                <td class='expandSUB1' align='right'>
                                    @stage2
                                </td>
                                <td class='expandSUB1'></td>
                                <td class='expandSUB1' align='right'></td>
                                <td class='expandSUB1' align='right'></td>
                                <td class='expandSUB1' align='right'></td>
                                <td class='expandSUB1' align='right'></td>
                            </tr>

                        </tbody>

                        j++;

                    }

                    i++;
                }

               


            </table>
        </div>
