@model RD.Models.Stage;

@{
    ViewBag.Title = ViewBag.ThemeName;
    Layout = "_Layout";

}


<div class="container-fluid">
    <div class="row" style="align-items:center">
        <div class="col-sm-2">
            <h3 style="color: #343a40;">Тема - @ViewBag.ThemeName</h3>
        </div>
        
        <div class="col-sm-1">
            <h3> <a class="nav-link text-primary" asp-controller="Stage" asp-action="Stage" style="float:left">+</a> </h3>
        </div>
        
        <div class="col-sm-9"></div>
    </div>

    <div class="row" style="align-items:center">

        @*<div class="col-sm">*@
        @*<h5> <a class="nav-link" asp-route-themeName="@ViewBag.ThemeName" asp-controller="Stages" asp-action="Stage">Добавить этап</a> </h5>
            </div>*@



        <div class="col-sm">
            <h5> <a class="nav-link" asp-area="" asp-route-themeName="@ViewBag.ThemeName" asp-controller="AnnualFinancings" asp-action="Index">Финансирование</a> </h5>
        </div>

        @*<div class="col-sm">
                <h5> <a class="nav-link" href="#">Договоры</a> </h5>
            </div>*@

        <div class="col-sm">
            <h5> <a class="nav-link" asp-controller="Files" asp-action="Index">Файлы</a> </h5>
        </div>

        <div class="col-sm">
            <h5> <a class="nav-link" asp-controller="Contracts" asp-action="Index">Договоры</a></h5>
        </div>

        <div class="col-sm">
            <h5> <a class="nav-link" asp-area="" asp-controller="RIAs" asp-action="Index">РИД</a> </h5>
        </div>

        <div class="col-sm">
            <h5> <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Продукты</a> </h5>
        </div>

        <div class="col-sm">
            <h5> <a class="nav-link" asp-area="" asp-controller="ScientificDocs" asp-action="Index">Научно-техническая документация</a> </h5>
        </div>

        <div class="col-sm">
            <h5> <a class="nav-link" asp-area="" asp-route-themeName="@ViewBag.ThemeName" asp-controller="TRLs" asp-action="Index">TRL</a> </h5>
        </div>


    </div>
</div>


<div style="overflow-x:auto;">
    <table class="table table-hover table-bordered" style="text-align: center; ">

        <thead>
            <tr>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">№ этапа</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Этап</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Срок выполнения - начало</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Срок выполнения - конец</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Сумма этапа</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Акт о завершении</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Статус</th>
            </tr>
        </thead>


        @{int i = 1;}
        @foreach (var stage in @ViewBag.Stages)
        {

            <tbody>
                <tr>
                    <td style="vertical-align:middle"><a asp-controller="Stages" asp-action="ChangingStage" asp-route-id="@stage.Id"> <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                    <td style="vertical-align:middle"><a onclick="deleteStage('@stage.Id')" href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    <td>@i</td>
                    <td>@stage.StageName</td>

                    @if (@stage.WorkStart != null)
                    {
                        if (@stage.WorkEnd != null)
                        {
                            <td>@stage.WorkStart.ToString("dd/MM/yyyy")</td>
                            <td>@stage.WorkEnd.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td>@stage.WorkStart.ToString("dd/MM/yyyy")</td>
                            <td>@stage.WorkEnd</td>
                        }
                    }
                    else if (@stage.WorkEnd != null)
                    {
                        <td>@stage.WorkStart</td>
                        <td>@stage.WorkEnd.ToString("dd/MM/yyyy")</td>
                    }
                    else
                    {
                        <td>@stage.WorkStart</td>
                        <td>@stage.WorkEnd</td>
                    }

                    <td>@stage.Amount</td>
                    <td>@stage.CompletionAct</td>
                    <td>@stage.Status</td>


                </tr>
            </tbody>

            i++;

        }

    </table>
</div>


<div class="mb-3 row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <a class="btn btn-outline-dark" href="/Themes" style="text-align:center">Назад</a>
    </div>

    <div class="col-sm-4"></div>

</div>


<script type="text/javascript">
    function deleteUser(stageId) {
        $.ajax({
            url: '/delete_stage/' + stageId,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Ошибка выполнения!")
            }
        })
    }
</script>
