@model RD.Models.AnnualFinancing;

@{
    ViewBag.Title = "Финансирование по годам";
    Layout = "_Layout";
}

<h3>Финансирование по годам</h3>

<table class="table table-hover " style="text-align: center;">

    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Год</th>
            <th scope="col">Сумма</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var annualFinancing in @ViewBag.AnnualFinancings)
        {
        <tr>
            <td></td>
            <td>@annualFinancing.Year</td>
            <td>@annualFinancing.Amount</td>

            <td>@Html.ActionLink("изменить", "AnnualFinancing", new { id = annualFinancing.Id })</td>
            <td><a onclick="deleteUser('@annualFinancing.Id')" href="#"> удалить </a></td>
        </tr>
        }
    </tbody>
</table>

<form method="post" asp-action="AnnualFinancings" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Финансирование по годам</h4>

        <tr>
            <td style="padding: 4px;">Год:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Year)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Сумма:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Amount)
            </td>
        </tr>

        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Добавить" />
            </td>
            <td></td>
        </tr>

    </table>
</form>




<script type="text/javascript">
        function deleteUser(userId) {
            $.ajax({
                url: '/delete_annual_financing/' + userId,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Ошибка выполнения!")
                }
            })
        }
</script>