@model RD.Models.User;

@{
    ViewBag.Title = "Пользователи";
    Layout = "_Layout";
}

<table class="table table-hover" style="text-align: center;">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Почта</th>
            <th scope="col">Баланс</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in @ViewBag.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Cash</td>
                <td>@Html.ActionLink("изменить", "User", new { id = user.Id })</td>
                <td><a onclick="deleteUser('@user.Id')" href="#"> удалить </a></td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="Users" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Добавление пользователей</h4>

        <tr>
            <td style="padding: 4px;">Имя:</td>
            <td style="padding: 4px;">
                <input type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td style="padding: 4px;">Электронная почта:</td>
            <td style="padding: 4px;">
                <input type="text" name="Email" />
            </td>
        </tr>
        <tr>
            <td style="padding: 4px;">Баланс:</td>
            <td style="padding: 4px;">
                <input type="text" name="Cash" />
            </td>
        </tr>
        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Отправить" />
            </td>
            <td></td>
        </tr>

    </table>
</form>


<script type="text/javascript">
        function deleteUser(userId) {
            $.ajax({
                url: '/delete/' + userId,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Всё сломалось!!!")
                }
            })
        }
</script>