@model RD.Models.User;

@{
    ViewBag.Title = "Пользователи";
    Layout = "_Layout";
}

<table class="table table-hover" style="text-align: center;">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
            <th scope="col">ФИО</th>
            <th scope="col">Активен</th>
            <th scope="col">Администратор</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var user in @ViewBag.Users)
        {
        <tr>
            <td>@user.Login</td>
            <td>@user.Password</td>
            <td>@user.FullName</td>
            <td><input type="checkbox" checked name="Активен" disabled /></td>
            <td><input type="checkbox" checked name="" disabled /> </td>
            
            <td>@Html.ActionLink("изменить", "User", new { id = user.Id })</td>
            <td><a onclick="deleteUser('@user.Id')" href="#"> удалить </a></td>
        </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="Users" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Добавление пользователей</h4>

        <tr>
            <td style="padding: 4px;">Логин:</td>
            <td style="padding: 4px;">
                <input name="Login" />
            </td>
        </tr>
        <tr>
            <td style="padding: 4px;">Пароль:</td>
            <td style="padding: 4px;">
                <input type="password" name="Password" />
            </td>
        </tr>
        
        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Добавить" />
            </td>
            <td></td>
        </tr>

    </table>
</form>


<script type="text/javascript">
        function deleteUser(userId) {
            $.ajax({
                url: '/delete/' + userId,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Ошибка выполнения!")
                }
            })
        }
</script>