@model RD.Models.User;

@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "_Layout";
}

@using (Html.BeginForm("Edit", "Users", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m => m.Id)
        <tr>
            <td style="padding: 4px;">Логин:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Login)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Пароль:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Password)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">ФИО:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.FullName)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Активен:</td>
            <td style="padding: 4px;">
                @Html.CheckBox("IsActive", @Html.TextBoxFor(m => m.IsActive))
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Администратор:</td>
            <td style="padding: 4px;">
                @Html.CheckBox("IsAdmin", @Html.TextBoxFor(m => m.IsAdmin))

                @*<input type="checkbox" @(user.IsAdmin ? "checked=\"checked\"" : "") name="Администратор" />*@

            </td>
        </tr>


        <tr>
            <td style="padding: 4px;">
            </td>

            <td style="padding: 4px;">
                <a class="btn" href="/" style="text-align:center">Отмена</a>
                <input type="submit" class="btn btn-primary" value="Изменить пользователя" />
            </td>

            <td style="padding: 4px;">
            </td>
        </tr>


    </table>
}