@model RD.Models.User;

@{
    ViewBag.Title = "Добавление пользователя";
    Layout = "_Layout";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>


<h3>Добавление пользователя</h3>
<br>

<form method="post" asp-action="AddUser" name="addUserForm" style="border-color: #343a40;">

    <table>
        <tr>
            <td style="padding: 4px;">Логин:</td>
            <td style="padding: 4px;">
                <input type="text" name="Login" value="@ViewBag.Login" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Пароль:</td>
            <td style="padding: 4px;">
                <input type="password" name="Password" value="@ViewBag.Password" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">ФИО:</td>
            <td style="padding: 4px;">
                <input type="text" value="@ViewBag.FullName" name="FullName" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Email:</td>
            <td style="padding: 4px;">
                <input type="email" value="@ViewBag.Email" name="Email" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Активен:</td>
            <td style="padding: 4px;">
                <input type="checkbox" name="IsActive" checked="@ViewBag.IsActive" value="true" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Администратор:</td>
            <td style="padding: 4px;">
                <input type="checkbox" name="IsAdmin" checked="@ViewBag.IsAdmin" value="true" />
            </td>
        </tr>

         <tr>
            <td style="padding: 4px;">
            </td>

            <td style="padding: 4px;">
                <a class="btn btn-outline-dark" href="/Users" style="text-align:center">Отмена</a>
                <input type="submit" class="btn btn-outline-primary submitBtn" value="Добавить пользователя" />
            </td>

            <td style="padding: 4px;">
            </td>
        </tr>

    </table>
</form>




@{
    if (@ViewBag.Status == "errorWithLogin")
    {
        <script type="text/javascript">
            $.get(this.href, function (data) {
                $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Пользователь с таким логином уже существует</dd> </dl> </div> </div>');
                $('#modDialog').modal('show');
            });
        </script>
    }

   
    else if (@ViewBag.Status == "errorWithEmail")
    {
        <script type="text/javascript">
            $.get(this.href, function (data) {
                $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Указанная электронная почта уже зарезервирована за другим пользователем</dd> </dl> </div> </div>');
                $('#modDialog').modal('show');
            });
        </script>
    }

}

@section scripts
        {
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".submitBtn").click(function (e) {

                let addUserForm = document.forms.addUserForm;

                let login = addUserForm.elements.Login.value;
                let password = addUserForm.elements.Password.value;
                //let email = registerForm.elements.email.value;

                if (login == "") {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Для регистрации нужно ввести логин</dd> </dl> </div> </div>');
                        $('#modDialog').modal('show');
                    });

                }

                else if (password == "") {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Для регистрации нужно ввести пароль</dd> </dl> </div> </div>');
                        $('#modDialog').modal('show');
                    });

                }

                //if (email == "") {
                //    e.preventDefault();
                //    $.get(this.href, function (data) {
                //        $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Для регистрации нужно ввести электронную почту</dd> </dl> </div> </div>');
                //        $('#modDialog').modal('show');
                //    });

                //}

            });
        })
    </script>

}