@model RD.Models.Doc;

@{
    ViewBag.Title = "Редактирование документа";
    Layout = "_Layout";
}

@using (Html.BeginForm("Edit", "Docs", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m => m.Id)

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Инвентарный номер" name="InventoryNum" value="@ViewBag.Doc.InventoryNum" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Дата поставки" name="ReceiptDate" value="@ViewBag.Doc.ReceiptDate" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Оригинал/подлинник" name="DocType" value="@ViewBag.Doc.DocType" />
            </td>
        </tr>


        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Обозначение" name="Designation" value="@ViewBag.Doc.Designation" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Наименование документа" name="NameDoc" value="@ViewBag.Doc.NameDoc" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="№ гос регистрации" name="DocType" value="@ViewBag.Doc.NumStateReg" />
            </td>
        </tr>



        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Структурное подразделение" name="ExecutiveDepartment" value="@ViewBag.Doc.ExecutiveDepartment" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Руководиетель" name="FioManager" value="@ViewBag.Doc.FioManager" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Материально-отвественный" name="ResponsiblePerson" value="@ViewBag.Doc.ResponsiblePerson" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Количество листов" name="SheetNumber" value="@ViewBag.Doc.SheetNumber" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Количество копий" name="NumCopies" value="@ViewBag.Doc.NumCopies" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Кем сдан:" name="ResponsiblePerson" value="@ViewBag.Doc.WhoPassed" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Кем принят" name="WhoAccepted" value="@ViewBag.Doc.WhoAccepted" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Примечание" name="Note" value="@ViewBag.Doc.Note" />
            </td>

        </tr>


        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Изменить" />
            </td>
            <td></td>
        </tr>

    </table>
}