@model RD.Models.TRL;

@{
    ViewBag.Title = "TRL";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="color: #343a40;">TRL</h3>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });

    $(document).ready(function () {
        $(".expandFRED").click(function () {
            $(".expandSUB1").toggle();
        });
        $(".expandFRED2").click(function () {
            $(".expandSUB2").toggle();
        });
        $(".expandVALS").click(function () {
            $(".expandCAT1").toggle();
        });
    })
</script>

<style>
    .label tr td label {
        display: block;
    }

    [data-toggle='toggle'] {
        display: none;
    }

    .expandSUB1 {
        display: none;
    }

    .expandSUB2 {
        display: none;
    }

    . {
        display: none;
    }

        .expandCAT1 {
            display: none;
        }

        .expandFRED, .expandFRED2 {
            cursor: pointer;
        }
</style>


<div style="overflow-x:auto;">
    <table class="table table-hover table-bordered" style="text-align: center; ">

        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Уровень TRL</th>
                <th scope="col">Наименование уровня TRL</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>

        @*@foreach (var theme in @ViewBag.Themes)
            {
                <tr>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Stage" asp-action="Index">Этапы</a></td>
                    <td>@theme.Number</td>
                    <td>@theme.Name</td>
                    <td>@theme.FioManager</td>
                    <td>@theme.ExecutiveDepartment</td>
                    <td>@theme.WorkStart</td>
                    <td>@theme.WorkEnd</td>
                    <td>@theme.Amount</td>
                    <td>@theme.Vat</td>
                    <td>@theme.AmountWithoutVat</td>
                    <td>@theme.Decree</td>
                    <td>@theme.DocType</td>
                    <td>@theme.Props</td>
                    <td>@theme.ResearchType</td>
                    <td>@theme.Knowledge</td>
                    <td>@theme.Status</td>

                    <td>@Html.ActionLink("изменить", "User", new { id = user.Id })</td>
                    <td><a onclick="deleteUser('@user.Id')" href="#"> удалить </a></td>

                </tr>
            }*@


        <tbody class="labels" style="background-color: #ececec;">
            <tr>
                <td></td>
                <td>1</td>
                <td class='expandFRED'>Сформулирована фундаментальная концепция технологии и обоснование ее полезности. ▼</td>
                @*<td><input type="checkbox" id="trl1") /></td>*@
                <td>
                    <input type="checkbox" id="trl1"
                           @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
                </td>
            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>1.1</td>
                <td class='expandSUB1' align='right'>
                    Начальный уровень зрелости технологии.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_1"
                           @(ViewBag.Trls.Trl1_1 ? "checked=\"checked\"" : "")
                           ) />
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>1.2</td>
                <td class='expandSUB1' align='right'>
                    Научные исследования начинают переходить в прикладные исследования.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_2"
                           @(ViewBag.Trls.Trl1_2 ? "checked=\"checked\"" : "")
                           ) />
                </td>
            </tr>
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>1.3</td>
                <td class='expandSUB1' align='right'>
                    Сформулирована идея, основные принципы наблюдались и были документированы.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_3"
                           @(ViewBag.Trls.Trl1_3 ? "checked=\"checked\"" : "") ) />
                </td>
            </tr>
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>1.4</td>
                <td class='expandSUB1' align='right'>
                    Проведен анализ существующих на рынке решений, определена потребность в новом продукте, сформулировано перспективное технологическое/алгоритмическое/архитектурное решение.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_4"
                           @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") ) />
                </td>
            </tr>
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>1.5</td>
                <td class='expandSUB1' align='right'>
                    Проведен экспертный анализ предлагаемого решения: ценность, удобство, реализуемость, прибыльность, востребованность, защищенность бизнеса, полезность для развития технологической базы исполнителя.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_5"
                           @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") ) />
                </td>
            </tr>
        </tbody>


        <tbody class="labels" style="background-color: #ececec;">

            <tr>
                <td></td>
                <td>2</td>
                <td class='expandFRED2'>Определены целевые области применения технологии и ее критические элементы. ▼</td>
                @*<td><input type="checkbox" id="trl2") /></td>*@
                <td>
                    <input type="checkbox" id="trl2"
                           @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />
                </td>

            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>2.1</td>
                <td class='expandSUB2' align='right'>
                    Концепция технологии/продукта и/или ее применения сформулированы.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") ) /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>2.2</td>
                <td class='expandSUB2' align='right'>
                    Сформулировано техническое предложение, может быть предложено практическое использование.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") ) /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>2.3</td>
                <td class='expandSUB2' align='right'>
                    Аналитический обзор, проведенный в рамках патентного исследования, показал реализуемость и отсутствие аналогичных решений.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") ) /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>2.4</td>
                <td class='expandSUB2' align='right'>
                    Сформулировано предварительное техническое задание, определена архитектура (описание основных компонентов и их связей) продукта: платформа для решения, компоненты, связь и взаимодействие между ними, проведено моделирование продукта, разработан предварительный дизайн.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") ) /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>2.5</td>
                <td class='expandSUB2' align='right'>
                    Проведен предварительный патентный анализ, анализ промышленных и технологических рисков.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") ) /></td>
            </tr>
        </tbody>


    </table>
</div>

<br>

<h5 style="color: #3949AC;">Выполненные уровни - @ViewBag.Trls.TotalReady</h5>

<br>

@*<script>
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            Total = 10;

            var ready = @ViewBag.Trls.TotalReady;
            var notReady = Total - ready;

            var data = google.visualization.arrayToDataTable([
                ['Уровни', 'Количество'],
                ['Выполненные уровни', ready],
                ['Не выполненные уровни', notReady],
            ]);
            var options = {
                title: 'Готовность проекта',
                is3D: true,
                //pieResidueSliceLabel: 'Остальное'
            };
            var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
            chart.draw(data, options);
        }
    </script>*@


@*<div id="trl_diagram" style="width: 500px; height: 400px;"></div>*@

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {

        Total = 10;

        var ready = @ViewBag.Trls.TotalReady;
        var notReady = Total - ready;

        var data = google.visualization.arrayToDataTable([
            ['Уровни', 'Количество'],
            ['Выполненные уровни', ready],
            ['Не выполненные уровни', notReady],
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Готовность проекта', 'width': 600, 'height': 450, 'colors': ['#3949AC', '#d13030'] };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
        chart.draw(data, options);
    }
</script>

<div id="trl_diagram"></div>

<div>
<button class="btn btn-primary" onclick="save('@ViewBag.ThemeName')" href="#" style="text-align:center"> Сохранить </button>
<a class="btn btn-primary" href="/Stages?themeName=@ViewBag.ThemeName" style="text-align:center"> Назад </a>
</div>

<script type="text/javascript">
    function save(themeName) {

        var trl1_1 = document.getElementById('trl1_1').checked;
        var trl1_2 = document.getElementById('trl1_2').checked;
        var trl1_3 = document.getElementById('trl1_3').checked;
        var trl1_4 = document.getElementById('trl1_4').checked;
        var trl1_5 = document.getElementById('trl1_5').checked;
        var trl2_1 = document.getElementById('trl2_1').checked;
        var trl2_2 = document.getElementById('trl2_2').checked;
        var trl2_3 = document.getElementById('trl2_3').checked;
        var trl2_4 = document.getElementById('trl2_4').checked;
        var trl2_5 = document.getElementById('trl2_5').checked;

        //alert(trl1);
        //alert(trl2);

        $.ajax({
            url: '/save/' + themeName + '/' + trl1_1 + '/' + trl1_2 + '/' + trl1_3 + '/' + trl1_4 + '/' + trl1_5
                + '/' + trl2_1 + '/' + trl2_2 + '/' + trl2_3 + '/' + trl2_4 + '/' + trl2_5,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Ошибка выполнения!")
            }
        })
    }
</script>
