@model RD.Models.TRL1;

@{
    ViewBag.Title = "TRL - Оборудование";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="color: #343a40;">TRL - Оборудование</h3>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });

    $(document).ready(function () {
        $(".expandFRED1").click(function () {
            $(".expandSUB1").toggle();
        });
        $(".expandFRED2").click(function () {
            $(".expandSUB2").toggle();
        });
        $(".expandFRED3").click(function () {
            $(".expandSUB3").toggle();
        });
        $(".expandFRED4").click(function () {
            $(".expandSUB4").toggle();
        });
        $(".expandFRED5").click(function () {
            $(".expandSUB5").toggle();
        });
        $(".expandFRED6").click(function () {
            $(".expandSUB6").toggle();
        });
        $(".expandFRED7").click(function () {
            $(".expandSUB7").toggle();
        });
        $(".expandFRED8").click(function () {
            $(".expandSUB8").toggle();
        });
        $(".expandFRED9").click(function () {
            $(".expandSUB9").toggle();
        });

        $(".expandVALS").click(function () {
            $(".expandCAT1").toggle();
        });
    })
</script>

<style>
    .label tr td label {
        display: block;
    }

    [data-toggle='toggle'] {
        display: none;
    }

    .expandSUB1 {
        display: none;
    }

    .expandSUB2 {
        display: none;
    }

    .expandSUB3 {
        display: none;
    }

    .expandSUB4 {
        display: none;
    }

    .expandSUB5 {
        display: none;
    }

    .expandSUB6 {
        display: none;
    }

    .expandSUB7 {
        display: none;
    }

    .expandSUB8 {
        display: none;
    }

    .expandSUB9 {
        display: none;
    }

    . {
        display: none;
    }

        .expandCAT1 {
            display: none;
        }

        .expandFRED1, .expandFRED2, .expandFRED3, .expandFRED4, .expandFRED5, .expandFRED6, .expandFRED7, .expandFRED8, .expandFRED9 {
            cursor: pointer;
        }
</style>


<form method="post" asp-action="SaveTRL1" asp-route-themeName="@ViewBag.ThemeName" name="trl1Form">


    <div style="overflow-x:auto;">
        <table class="table table-hover table-bordered" style="text-align: center; ">

            <thead>
                <tr>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Уровень TRL</th>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Наименование уровня TRL</th>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Статус</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Сформулирована фундаментальная концепция технологии и обоснование ее полезности. </td>
                    <td></td>
                </tr>

            </tbody>


            <tbody class="labels" style="background-color: #ececec;">
                <tr>
                    <td></td>
                    <td>2</td>
                    <td class='expandFRED1'>Определены целевые области применения технологии и ее критические элементы ▼</td>
                    <td>
                        <input type="checkbox" />
                        @*<input type="checkbox" checked="
        @ViewBag.Trls1.Trl1_1 && @ViewBag.Trls1.Trl1_2 && @ViewBag.Trls1.Trl1_3 && @ViewBag.Trls1.Trl1_4 " />*@
                    </td>
                </tr>

            </tbody>


            <tbody class="hide">
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.1</td>
                    <td class='expandSUB1' align='right'>
                        Определены (перечислены) базовые (основные) элементы технологии
                    </td>
                    <td class='expandSUB1'>
                        <input type="checkbox" name="Trl1_1" checked="@ViewBag.Trls1.Trl1_1" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.2</td>
                    <td class='expandSUB1' align='right'>
                        Частично определены компоненты технологии и/или подсистемы разрабатываемой системы.
                    </td>
                    <td class='expandSUB1'>
                        <input type="checkbox" name="Trl1_2" checked="@ViewBag.Trls1.Trl1_2" value="true" />
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.3</td>
                    <td class='expandSUB1' align='right'>
                        Сделаны предварительные оценки характеристик для каждого элемента системы/технологии.
                    </td>
                    <td class='expandSUB1'>
                        <input type="checkbox" name="Trl1_3" checked="@ViewBag.Trls1.Trl1_3" value="true" />
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Для проверки физических принципов технологии использованы только моделирование и симуляция (имитация).
                    </td>
                    <td class='expandSUB1'>
                        <input type="checkbox" name="Trl1_4" checked="@ViewBag.Trls1.Trl1_4" value="true" />
                    </td>
                </tr>

            </tbody>




            <tbody class="labels" style="background-color: #ececec;">
                    <tr>
                        <td></td>
                        <td>3</td>
                        <td class='expandFRED2'>Получен макетный образец и продемонстрированы его ключевые характеристики.  ▼</td>
                        <td>
                            <input type="checkbox" />
                                   @*<input type="checkbox" checked="
                               @ViewBag.Trls1.Trl2_1 && @ViewBag.Trls1.Trl2_2 && @ViewBag.Trls1.Trl2_3 && @ViewBag.Trls1.Trl2_4 && @ViewBag.Trls1.Trl2_5
                                && @ViewBag.Trls1.Trl2_6 && @ViewBag.Trls1.Trl2_7 && @ViewBag.Trls1.Trl2_8 && @ViewBag.Trls1.Trl2_9" />*@
                        </td>
                    </tr>

                </tbody>


                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.1</td>
                    <td class='expandSUB2' align='right'>
                        Аналитическими исследованиями подтверждены прогнозируемые возможности (характеристики) элементов технологий.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox" name="Trl2_1" checked="@ViewBag.Trls1.Trl2_1" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.2</td>
                    <td class='expandSUB2' align='right'>
                        Имеются, известны необходимые для разработки системы/технологии методы математического и/или компьютерного моделирования.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox"  name="Trl2_2" checked="@ViewBag.Trls1.Trl2_2" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Были определены и рассчитаны предварительные характеристики и габаритные размеры системы/технологии.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox"  name="Trl2_3" checked="@ViewBag.Trls1.Trl2_3" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Моделированием и имитацией подтверждены прогнозируемые характеристики элементов технологии.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox"  name="Trl2_4" checked="@ViewBag.Trls1.Trl2_4" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Выполнено моделирование на стандартном лабораторном оборудовании для подтверждения физических принципов разрабатываемой технологии.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox"  name="Trl2_5" checked="@ViewBag.Trls1.Trl2_5" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.6</td>
                    <td class='expandSUB2' align='right'>
                        Предсказанные возможности элементов технологии подтверждены лабораторными экспериментами.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox" id="trl2_6" name="Trl2_6" checked="@ViewBag.Trls1.Trl2_6" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.7</td>
                    <td class='expandSUB2' align='right'>
                        Определены/разработаны методы проектирования.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox" id="trl2_7" name="Trl2_7" checked="@ViewBag.Trls1.Trl2_7" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.8</td>
                    <td class='expandSUB2' align='right'>
                        Выполнена оценка возможностей производства по изготовлению разрабатываемой системы (технологии).
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox" id="trl2_8" name="Trl2_8" checked="@ViewBag.Trls1.Trl2_8" value="true" />
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.9</td>
                    <td class='expandSUB2' align='right'>
                        Определены возможности изготовления основных компонентов макета системы.
                    </td>
                    <td class='expandSUB2'>
                        <input type="checkbox" id="trl2_9" name="Trl2_9" checked="@ViewBag.Trls1.Trl2_9" value="true" />
                    </td>
                </tr>

                </tbody>





            <tbody class="labels" style="background-color: #ececec;">

                    <tr>
                        <td></td>
                        <td>4</td>
                        <td class='expandFRED3'>Получен лабораторный образец, подготовлен лабораторный стенд, проведены испытания базовых функций связи с другими элементами системы . ▼</td>
                        <td>
                            @*<input type="checkbox" id="trl3" checked="
        @ViewBag.Trls1.Trl3_1 && @ViewBag.Trls1.Trl3_2 && @ViewBag.Trls1.Trl3_3 && @ViewBag.Trls1.Trl3_4 && @ViewBag.Trls1.Trl3_5
         && @ViewBag.Trls1.Trl3_6 && @ViewBag.Trls1.Trl3_7 && @ViewBag.Trls1.Trl3_8 && @ViewBag.Trls1.Trl3_9 && @ViewBag.Trls1.Trl3_10
         && @ViewBag.Trls1.Trl3_11 && @ViewBag.Trls1.Trl3_12
        " />*@
                            <input type="checkbox" id="trl3" />
                        </td>

                    </tr>

                </tbody>

                <tbody class="hide">
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.1</td>
                        <td class='expandSUB3' align='right'>
                            Специальные и стандартные лабораторные компоненты заменяют компоненты разрабатываемой системы.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_1" name="Trl3_1" checked="@ViewBag.Trls1.Trl3_1" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.2</td>
                        <td class='expandSUB3' align='right'>
                            Отдельные компоненты испытаны в лаборатории разработчика, а покупные компоненты системы испытаны в лаборатории поставщика (прошли приемо-сдаточные испытания).
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_2" name="Trl3_2" checked="@ViewBag.Trls1.Trl3_2" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.3</td>
                        <td class='expandSUB3' align='right'>
                            Существуют макеты отдельных частей и компонентов разрабатываемой системы.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_3" name="Trl3_3" checked="@ViewBag.Trls1.Trl3_3" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.4</td>
                        <td class='expandSUB3' align='right'>
                            Выполнено моделирование для имитации некоторых компонентов и интерфейсов между ними.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_4" name="Trl3_4" checked="@ViewBag.Trls1.Trl3_4" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.5</td>
                        <td class='expandSUB3' align='right'>
                            Имеющиеся компоненты собраны в макет системы.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_5" name="Trl3_5" checked="@ViewBag.Trls1.Trl3_5" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.6</td>
                        <td class='expandSUB3' align='right'>
                            Лабораторные эксперименты с имеющимися компонентами показывают, что они функционируют вместе в составе макета системы.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_6" name="Trl3_6" checked="@ViewBag.Trls1.Trl3_6" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.7</td>
                        <td class='expandSUB3' align='right'>
                            Проведено программно-аппаратное тестирование/компьютерное моделирование для установления совместимости компонентов.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_7" name="Trl3_7" checked="@ViewBag.Trls1.Trl3_7" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.8</td>
                        <td class='expandSUB3' align='right'>
                            Изготовлены масштабные прототипы технологии/системы.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_8" name="Trl3_8" checked="@ViewBag.Trls1.Trl3_8" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.9</td>
                        <td class='expandSUB3' align='right'>
                            Определены методы проектирования для случаев, где могут быть проанализированы/смоделированы малые приложения.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_9" name="Trl3_9" checked="@ViewBag.Trls1.Trl3_9" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.10</td>
                        <td class='expandSUB3' align='right'>
                            Определены ключевые производственные процессы.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_10" name="Trl3_10" checked="@ViewBag.Trls1.Trl3_10" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.11</td>
                        <td class='expandSUB3' align='right'>
                            Проведена оценка ключевых производственных процессов в лабораторных условиях.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_11" name="Trl3_11" checked="@ViewBag.Trls1.Trl3_11" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB3 expandVALS'></td>
                        <td class='expandSUB3'>4.12</td>
                        <td class='expandSUB3' align='right'>
                            Определена стратегия реагирования при недостатках в технологичности/возможности изготовления.
                        </td>
                        <td class='expandSUB3'><input type="checkbox" id="Trl3_12" name="Trl3_12" checked="@ViewBag.Trls1.Trl3_12" value="true" /></td>
                    </tr>


                </tbody>







            <tbody class="labels" style="background-color: #ececec;">

                    <tr>
                        <td></td>
                        <td>5</td>
                        <td class='expandFRED4'>Изготовлен экспериментальный образец в реальном масштабе по полупромышленной технологии и испытан, проведена эмуляция основных внешних условий. . ▼</td>
                        <td>
                            <input type="checkbox" id="trl4" />
                        </td>

                    </tr>

                </tbody>

                <tbody class="hide">
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.1</td>
                        <td class='expandSUB4' align='right'>
                            Доступен макет оборудования для организации производства технологии.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_1" name="Trl4_1" checked="@ViewBag.Trls1.Trl4_1" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.2</td>
                        <td class='expandSUB4' align='right'>
                            Установлены цели по улучшению прибыльности производства.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_2" name="Trl4_2" checked="@ViewBag.Trls1.Trl4_2" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.3</td>
                        <td class='expandSUB4' align='right'>
                            В ходе изучения рынка и лабораторных экспериментов определены ключевые производственные процессы.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_3" name="Trl4_3" checked="@ViewBag.Trls1.Trl4_3" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.4</td>
                        <td class='expandSUB4' align='right'>
                            Значительные изменения в конструкции и технологии производства.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_4" name="Trl4_4" checked="@ViewBag.Trls1.Trl4_4" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.5</td>
                        <td class='expandSUB4' align='right'>
                            Прототипы созданы.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_5" name="Trl4_5" checked="@ViewBag.Trls1.Trl4_5" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.6</td>
                        <td class='expandSUB4' align='right'>
                            Оснастка и оборудование продемонстрированы в лабораторном окружении.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_6" name="Trl4_6" checked="@ViewBag.Trls1.Trl4_6" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.7</td>
                        <td class='expandSUB4' align='right'>
                            Заданы методы проектирования до точки, где определены наиболее серьезные проблемы.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_7" name="Trl4_7" checked="@ViewBag.Trls1.Trl4_7" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.8</td>
                        <td class='expandSUB4' align='right'>
                            Форма, соответствие параметрам и функциональность исследуются совместно с разработчиками конечного пользователя (детальное обсуждение ТЗ на соответствие интересов с конечным пользователем системы).
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_8" name="Trl4_8" checked="@ViewBag.Trls1.Trl4_8" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.9</td>
                        <td class='expandSUB4' align='right'>
                            Точность макетирования повышается от макета до экспериментальной модели.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_9" name="Trl4_9" checked="@ViewBag.Trls1.Trl4_9" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.10</td>
                        <td class='expandSUB4' align='right'>
                            Некоторые компоненты специального назначения комбинируются с доступными лабораторными компонентами.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_10" name="Trl4_10" checked="@ViewBag.Trls1.Trl4_10" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.11</td>
                        <td class='expandSUB4' align='right'>
                            На рассмотрение представлены структурные схемы и схемы соединений.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_11" name="Trl4_11" checked="@ViewBag.Trls1.Trl4_11" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.12</td>
                        <td class='expandSUB4' align='right'>
                            Выполнена начальная оценка потребностей сборки.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_12" name="Trl4_12" checked="@ViewBag.Trls1.Trl4_12" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.13</td>
                        <td class='expandSUB4' align='right'>
                            Завершены детальные проектные эскизы технологии.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_13" name="Trl4_13" checked="@ViewBag.Trls1.Trl4_13" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.14</td>
                        <td class='expandSUB4' align='right'>
                            Определены уровни "сигма", необходимые для достижения целевого уровня затрат (CAIV).
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_14" name="Trl4_14" checked="@ViewBag.Trls1.Trl4_14" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.15</td>
                        <td class='expandSUB4' align='right'>
                            Производственные процессы (технология изготовления) рассмотрены с представителями производства.
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_15" name="Trl4_15" checked="@ViewBag.Trls1.Trl4_15" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.16</td>
                        <td class='expandSUB4' align='right'>
                            Подготовлен черновик SEMP по предварительной разработке технических средств технологической системы (по технологической подготовке производства).
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_16" name="Trl4_16" checked="@ViewBag.Trls1.Trl4_16" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB4 expandVALS'></td>
                        <td class='expandSUB4'>5.17</td>
                        <td class='expandSUB4' align='right'>
                            Выполнен анализ режимов отказов и их последствий (FMEA).
                        </td>
                        <td class='expandSUB4'><input type="checkbox" id="trl4_17" name="Trl4_17" checked="@ViewBag.Trls1.Trl4_17" value="true" /></td>
                    </tr>

                </tbody>










            <tbody class="labels" style="background-color: #ececec;">

                    <tr>
                        <td></td>
                        <td>6</td>
                        <td class='expandFRED5'>Изготовлен полнофункциональный образец на пилотной производственной линии, подтверждены рабочие характеристики в условиях, приближенных к реальности . ▼</td>
                        <td>
                            <input type="checkbox" id="trl5" />
                        </td>
                    </tr>

                </tbody>

                <tbody class="hide">
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.1</td>
                        <td class='expandSUB5' align='right'>
                            Установлены показатели качества и надежности.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_1" name="Trl5_1" checked="@ViewBag.Trls1.Trl5_1" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.2</td>
                        <td class='expandSUB5' align='right'>
                            Практически подготовлен комплект эскизной КД на систему.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_2" name="Trl5_2" checked="@ViewBag.Trls1.Trl5_2" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.3</td>
                        <td class='expandSUB5' align='right'>
                            Определена потребность в инвестициях для производственных процессов и оборудования разрабатываемой системы.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_3" name="Trl5_3" checked="@ViewBag.Trls1.Trl5_3" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.4</td>
                        <td class='expandSUB5' align='right'>
                            Проведены приемо-сдаточные испытания системы в лабораторных условиях.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_4" name="Trl5_4" checked="@ViewBag.Trls1.Trl5_4" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.5</td>
                        <td class='expandSUB5' align='right'>
                            Потребителем и разработчиком составлен предварительный план выпуска продукции.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_5" name="Trl5_5" checked="@ViewBag.Trls1.Trl5_5" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.6</td>
                        <td class='expandSUB5' align='right'>
                            Созданы прототипы критических (определяющих) производственных процессов.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_6" name="Trl5_6" checked="@ViewBag.Trls1.Trl5_6" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.7</td>
                        <td class='expandSUB5' align='right'>
                            Большая часть изделий соответствует техническим требованиям для передачи в производство.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_7" name="Trl5_7" checked="@ViewBag.Trls1.Trl5_7" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.8</td>
                        <td class='expandSUB5' align='right'>
                            Материалы, процессы, конструкция и методы интеграции могут быть использованы в производстве.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_8" name="Trl5_8" checked="@ViewBag.Trls1.Trl5_8" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.9</td>
                        <td class='expandSUB5' align='right'>
                            Компоненты функционально совместимы с действующей системой.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_9" name="Trl5_9" checked="@ViewBag.Trls1.Trl5_9" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.10</td>
                        <td class='expandSUB5' align='right'>
                            Определены производственные проблемы, основные из которых были решены.
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_10" name="Trl5_10" checked="@ViewBag.Trls1.Trl5_10" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.11</td>
                        <td class='expandSUB5' align='right'>
                            Завершена технологическая подготовка производства (разработана оснастка, технологические процессы, дорожные карты и т.д.).
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_11" name="Trl5_11" checked="@ViewBag.Trls1.Trl5_11" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB5 expandVALS'></td>
                        <td class='expandSUB5'>6.12</td>
                        <td class='expandSUB5' align='right'>
                            Завершена демонстрация производства (компонентов).
                        </td>
                        <td class='expandSUB5'><input type="checkbox" id="trl5_12" name="Trl5_12" checked="@ViewBag.Trls1.Trl5_12" value="true" /></td>
                    </tr>
                </tbody>








            <tbody class="labels" style="background-color: #ececec;">

                    <tr>
                        <td></td>
                        <td>7</td>
                        <td class='expandFRED6'>Прототип системы продемонстрирован в составе системы в реальных условиях эксплуатации . ▼</td>

                        <td>
                            <input type="checkbox" id="trl6" />
                        </td>

                    </tr>

                </tbody>

                <tbody class="hide">
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.1</td>
                        <td class='expandSUB6' align='right'>
                            Определены материалы, процессы, методы и техника проектирования.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_1" name="Trl6_1" checked="@ViewBag.Trls1.Trl6_1" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.2</td>
                        <td class='expandSUB6' align='right'>
                            Проведена начальная демонстрация материалов, процессов и процедур производства.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_2" name="Trl6_2" checked="@ViewBag.Trls1.Trl6_2" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.3</td>
                        <td class='expandSUB6' align='right'>
                            Используется моделирование для имитации некоторых недоступных элементов системы, но эти случаи редки.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_3" name="Trl6_3" checked="@ViewBag.Trls1.Trl6_3" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.4</td>
                        <td class='expandSUB6' align='right'>
                            Построен прототип производственной системы с использованием программных инструментов.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_4" name="Trl6_4" checked="@ViewBag.Trls1.Trl6_4" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.5</td>
                        <td class='expandSUB6' align='right'>
                            Одобрены оборудование и оснастка.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_5" name="Trl6_5" checked="@ViewBag.Trls1.Trl6_5" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.6</td>
                        <td class='expandSUB6' align='right'>
                            Существенно уменьшились проектные изменения.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_6" name="Trl6_6" checked="@ViewBag.Trls1.Trl6_6" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.7</td>
                        <td class='expandSUB6' align='right'>
                            Выполнены черновые проектные чертежи.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_7" name="Trl6_7" checked="@ViewBag.Trls1.Trl6_7" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.8</td>
                        <td class='expandSUB6' align='right'>
                            Практически разработаны и проверены материалы, процессы, методы и методики проектирования.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_8" name="Trl6_8" checked="@ViewBag.Trls1.Trl6_8" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.9</td>
                        <td class='expandSUB6' align='right'>
                            Доступно предпроизводственное оборудование, но его количество может быть ограничено.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_9" name="Trl6_9" checked="@ViewBag.Trls1.Trl6_9" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.10</td>
                        <td class='expandSUB6' align='right'>
                            Компоненты являются производимыми.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_10" name="Trl6_10" checked="@ViewBag.Trls1.Trl6_10" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.11</td>
                        <td class='expandSUB6' align='right'>
                            Подтверждены цели проекта по стоимости.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_11" name="Trl6_11" checked="@ViewBag.Trls1.Trl6_11" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.12</td>
                        <td class='expandSUB6' align='right'>
                            Установлены начальные уровни "сигма".
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_12" name="Trl6_12" checked="@ViewBag.Trls1.Trl6_12" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.13</td>
                        <td class='expandSUB6' align='right'>
                            Хорошо понятны в целом процессы производства.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_13" name="Trl6_13" checked="@ViewBag.Trls1.Trl6_13" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.14</td>
                        <td class='expandSUB6' align='right'>
                            Завершено планирование производства.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_14" name="Trl6_14" checked="@ViewBag.Trls1.Trl6_14" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.15</td>
                        <td class='expandSUB6' align='right'>
                            Прототип улучшается до качества предпроизводственного образца.
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_15" name="Trl6_15" checked="@ViewBag.Trls1.Trl6_15" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB6 expandVALS'></td>
                        <td class='expandSUB6'>7.16</td>
                        <td class='expandSUB6' align='right'>
                            Готов для мелкосерийного начального производства (LRIP - Low Rate Initial Production).
                        </td>
                        <td class='expandSUB6'><input type="checkbox" id="trl6_16" name="Trl6_16" checked="@ViewBag.Trls1.Trl6_16" value="true" /></td>
                    </tr>

                </tbody>






            <tbody class="labels" style="background-color: #ececec;">

                    <tr>
                        <td></td>
                        <td>8</td>
                        <td class='expandFRED7'>Окончательное подтверждение работоспособности образца. Разработка. функционирующей реальной системы завершена . ▼</td>

                        <td>
                            <input type="checkbox" id="trl7" />
                        </td>

                    </tr>

                </tbody>

                <tbody class="hide">
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.1</td>
                        <td class='expandSUB7' align='right'>
                            Оценочные затраты составляют менее 125% от целевых затрат (т.е. достигнутая целевая стоимость соответствует LRIP).
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_1" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_1" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.2</td>
                        <td class='expandSUB7' align='right'>
                            Оборудование и оснастка продемонстрированы в производственном окружении.
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_2" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_2" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.3</td>
                        <td class='expandSUB7' align='right'>
                            Производственные процессы продемонстрированы на "пилотной линии", мелкосерийном производстве (LRIP) или производстве похожего продукта.
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_3" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_3" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.4</td>
                        <td class='expandSUB7' align='right'>
                            Производственные процессы демонстрируют приемлемые уровни доходности и производительности.
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_4" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_4" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.5</td>
                        <td class='expandSUB7' align='right'>
                            Производственные процессы контролируются по "4-сигма" или с соответствующим уровнем качества.
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_5" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_5" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.6</td>
                        <td class='expandSUB7' align='right'>
                            Все материалы производятся и легко доступны.
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_6" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_6" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB7 expandVALS'></td>
                        <td class='expandSUB7'>8.7</td>
                        <td class='expandSUB7' align='right'>
                            Система готова к серийному производству.
                        </td>
                        <td class='expandSUB7'><input type="checkbox" id="trl7_7" name="Trl7_1" checked="@ViewBag.Trls1.Trl7_7" value="true" /></td>
                    </tr>
                </tbody>








            <tbody class="labels" style="background-color: #ececec;">

                    <tr>
                        <td></td>
                        <td>9</td>
                        <td class='expandFRED8'>
                            Изделие удовлетворяет всем требованиям: инженерным, производственным, эксплуатационным, по качеству и надежности.
                            Возможна модификация по снижению себестоимости, развитию и эволюции системы Функционирующая реальная система подтверждена в ходе реальной
                            эксплуатации через успешное выполнение испытательных заданий. ▼
                        </td>

                        <td>
                            <input type="checkbox" id="trl8" />
                        </td>

                    </tr>

                </tbody>

                <tbody class="hide">
                    <tr>
                        <td class='expandSUB8 expandVALS'></td>
                        <td class='expandSUB8'>9.1</td>
                        <td class='expandSUB8' align='right'>
                            Оценочные затраты составляют менее 110% от целевых затрат или соответствуют им (т.е. целевая стоимость достигнута).
                        </td>
                        <td class='expandSUB8'><input type="checkbox" id="trl8_1" name="Trl8_1" checked="@ViewBag.Trls1.Trl8_1" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB8 expandVALS'></td>
                        <td class='expandSUB8'>9.2</td>
                        <td class='expandSUB8' align='right'>
                            Вопросы доступности учтены в планах начального производства и перспективных закупок.
                        </td>
                        <td class='expandSUB8'><input type="checkbox" id="trl8_2" name="Trl8_2" checked="@ViewBag.Trls1.Trl8_2" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB8 expandVALS'></td>
                        <td class='expandSUB8'>9.3</td>
                        <td class='expandSUB8' align='right'>
                            Проектирование стабильно, имеются незначительные изменения или изменения полностью отсутствуют.
                        </td>
                        <td class='expandSUB8'><input type="checkbox" id="trl8_3" name="Trl8_3" checked="@ViewBag.Trls1.Trl8_3" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB8 expandVALS'></td>
                        <td class='expandSUB8'>9.4</td>
                        <td class='expandSUB8' align='right'>
                            Все производственные процессы контролируются по "6-сигма" или с соответствующим уровнем качества.
                        </td>
                        <td class='expandSUB8'><input type="checkbox" id="trl8_4" name="Trl8_4" checked="@ViewBag.Trls1.Trl8_4" value="true" /></td>
                    </tr>
                    <tr>
                        <td class='expandSUB8 expandVALS'></td>
                        <td class='expandSUB8'>9.5</td>
                        <td class='expandSUB8' align='right'>
                            Производство стабильное.
                        </td>
                        <td class='expandSUB8'><input type="checkbox" id="trl8_5" name="Trl8_5" checked="@ViewBag.Trls1.Trl8_5" value="true" /></td>
                    </tr>

                </tbody>

        </table>
    </div>


    @*@Html.HiddenFor(m => m.TotalCount)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ThemeName)*@


        <div name="TotalCount" type="number" value="@ViewBag.Trls1.TotalCount"></div>

        <br>

        <h5 style="color: #3949AC;">Выполненные уровни - @ViewBag.Trls1.TotalCount</h5>

    <br>


    <div id="trl_diagram" style="width: 500px; height: 400px;"></div>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {

            Total = 4 + 9 + 12 + 17 + 12 + 16 + 7 + 5;


            var ready = @ViewBag.Trls1.TotalCount;
            var notReady = Total - ready;

            var data = google.visualization.arrayToDataTable([
                ['Уровни', 'Количество'],
                ['Выполненные уровни', ready],
                ['Не выполненные уровни', notReady],
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Готовность проекта', 'width': 600, 'height': 450, 'colors': ['#3949AC', '#d13030'] };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
            chart.draw(data, options);
        }
        </script>

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <div id="trl_diagram"></div>
            </div>

            <div class="col-sm">

                <a class="btn btn-outline-dark" href="/TRLs?themeName=@ViewBag.ThemeName" style="text-align:center"> Назад </a>
                <input type="submit" class="btn btn-outline-primary submitBtn" value="Рассчитать" />
            </div>

        </div>
    </div>

</form>

    <script type="text/javascript">
        function save(themeName) {

            //var trl1_1 = document.getElementById('trl1_1').checked;
            //var trl1_2 = document.getElementById('trl1_2').checked;
            //var trl1_3 = document.getElementById('trl1_3').checked;
            //var trl1_4 = document.getElementById('trl1_4').checked;

            //var trl1 = [trl1_1, trl1_2, trl1_3, trl1_4];


            //var trl2_1 = document.getElementById('trl2_1').checked;
            //var trl2_2 = document.getElementById('trl2_2').checked;
            //var trl2_3 = document.getElementById('trl2_3').checked;
            //var trl2_4 = document.getElementById('trl2_4').checked;
            //var trl2_5 = document.getElementById('trl2_5').checked;
            //var trl2_6 = document.getElementById('trl2_6').checked;
            //var trl2_7 = document.getElementById('trl2_7').checked;
            //var trl2_8 = document.getElementById('trl2_8').checked;
            //var trl2_9 = document.getElementById('trl2_9').checked;

            //var trl2 = [trl2_1, trl2_2, trl2_3, trl2_4, trl2_5, trl2_6, trl2_7, trl2_8, trl2_9];

            //var trl3_1 = document.getElementById('trl3_1').checked;
            //var trl3_2 = document.getElementById('trl3_2').checked;
            //var trl3_3 = document.getElementById('trl3_3').checked;
            //var trl3_4 = document.getElementById('trl3_4').checked;
            //var trl3_5 = document.getElementById('trl3_5').checked;
            //var trl3_6 = document.getElementById('trl3_6').checked;
            //var trl3_7 = document.getElementById('trl3_7').checked;
            //var trl3_8 = document.getElementById('trl3_8').checked;
            //var trl3_9 = document.getElementById('trl3_9').checked;
            //var trl3_10 = document.getElementById('trl3_10').checked;
            //var trl3_11 = document.getElementById('trl3_11').checked;
            //var trl3_12 = document.getElementById('trl3_12').checked;

            //var trl3 = [trl3_1, trl3_2, trl3_3, trl3_4, trl3_5, trl3_6, trl3_7, trl3_8, trl3_9, trl3_10, trl3_11, trl3_12];


            //var trl4_1 = document.getElementById('trl4_1').checked;
            //var trl4_2 = document.getElementById('trl4_2').checked;
            //var trl4_3 = document.getElementById('trl4_3').checked;
            //var trl4_4 = document.getElementById('trl4_4').checked;
            //var trl4_5 = document.getElementById('trl4_5').checked;
            //var trl4_6 = document.getElementById('trl4_6').checked;
            //var trl4_7 = document.getElementById('trl4_7').checked;
            //var trl4_8 = document.getElementById('trl4_8').checked;
            //var trl4_9 = document.getElementById('trl4_9').checked;
            //var trl4_10 = document.getElementById('trl4_10').checked;
            //var trl4_11 = document.getElementById('trl4_11').checked;
            //var trl4_12 = document.getElementById('trl4_12').checked;
            //var trl4_13 = document.getElementById('trl4_13').checked;
            //var trl4_14 = document.getElementById('trl4_14').checked;
            //var trl4_15 = document.getElementById('trl4_15').checked;
            //var trl4_16 = document.getElementById('trl4_16').checked;
            //var trl4_17 = document.getElementById('trl4_17').checked;

            //var trl4 = [trl4_1, trl4_2, trl4_3, trl4_4, trl4_5, trl4_6, trl4_7, trl4_8, trl4_9, trl4_10, trl4_11, trl4_12, trl4_13, trl4_14, trl4_15, trl4_16, trl4_17];


            //alert(trl1);
            //alert(trl2);

            $.ajax({

                url: '/save_trl1/' + themeName ,
                //url: '/save_trl1/' + themeName + '/' + trl1 + '/' + trl2 + '/' + trl3 + '/' + trl4,


                //url: '/save_trl1/' + themeName + '/' + trl1_1 + '/' + trl1_2 + '/' + trl1_3 + '/' + trl1_4

                //    + '/' + trl2_1 + '/' + trl2_2 + '/' + trl2_3 + '/' + trl2_4 + '/' + trl2_5 + '/' + trl2_6 + '/' + trl2_7 + '/' + trl2_8 + '/' + trl2_9

                //    + '/' + trl3_1 + '/' + trl3_2 + '/' + trl3_3 + '/' + trl3_4 + '/' + trl3_5 + '/' + trl3_6 + '/' + trl3_7 + '/' + trl3_8 + '/' + trl3_9
                //    + '/' + trl3_10 + '/' + trl3_11 + '/' + trl3_12

                //    + '/' + trl4_1 + '/' + trl4_2 + '/' + trl4_3 + '/' + trl4_4 + '/' + trl4_5 + '/' + trl4_6 + '/' + trl4_7 + '/' + trl4_8 + '/' + trl4_9
                //    + '/' + trl4_10 + '/' + trl4_11 + '/' + trl4_12 + '/' + trl4_13 + '/' + trl4_14 + '/' + trl4_15 + '/' + trl4_16 + '/' + trl4_17 ,

                //url: '/save_trl1/' + themeName + '/' + trl1_1 + '/' + trl1_2 + '/' + trl1_3 + '/' + trl1_4 + '/' + trl1_5
                //    + '/' + trl2_1 + '/' + trl2_2 + '/' + trl2_3 + '/' + trl2_4 + '/' + trl2_5,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Ошибка выполнения!")
                }
            })
        }
    </script>
