@model RD.Models.TRL;

@{
    ViewBag.Title = "TRL - Программное обеспечение";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="color: #343a40;">TRL - Программное обеспечение</h3>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });

    $(document).ready(function () {
        $(".expandFRED").click(function () {
            $(".expandSUB1").toggle();
        });
        $(".expandFRED2").click(function () {
            $(".expandSUB2").toggle();
        });
        $(".expandVALS").click(function () {
            $(".expandCAT1").toggle();
        });
    })
</script>

<style>
    .label tr td label {
        display: block;
    }

    [data-toggle='toggle'] {
        display: none;
    }

    .expandSUB1 {
        display: none;
    }

    .expandSUB2 {
        display: none;
    }

    . {
        display: none;
    }

        .expandCAT1 {
            display: none;
        }

        .expandFRED, .expandFRED2 {
            cursor: pointer;
        }
</style>


<div style="overflow-x:auto;">
    <table class="table table-hover table-bordered" style="text-align: center; ">

        <thead>
            <tr>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Уровень TRL</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Наименование уровня TRL</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Статус</th>
            </tr>
        </thead>

        @*@foreach (var theme in @ViewBag.Themes)
            {
                <tr>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Stage" asp-action="Index">Этапы</a></td>
                    <td>@theme.Number</td>
                    <td>@theme.Name</td>
                    <td>@theme.FioManager</td>
                    <td>@theme.ExecutiveDepartment</td>
                    <td>@theme.WorkStart</td>
                    <td>@theme.WorkEnd</td>
                    <td>@theme.Amount</td>
                    <td>@theme.Vat</td>
                    <td>@theme.AmountWithoutVat</td>
                    <td>@theme.Decree</td>
                    <td>@theme.DocType</td>
                    <td>@theme.Props</td>
                    <td>@theme.ResearchType</td>
                    <td>@theme.Knowledge</td>
                    <td>@theme.Status</td>

                    <td>@Html.ActionLink("изменить", "User", new { id = user.Id })</td>
                    <td><a onclick="deleteUser('@user.Id')" href="#"> удалить </a></td>

                </tr>
            }*@


        <tbody class="labels" style="background-color: #ececec;">
            <tr>
                <td></td>
                <td>1</td>
                <td class='expandFRED'>Сформулирована фундаментальная концепция технологии и обоснование ее полезности.  ▼ </td>
                @*<td><input type="checkbox" id="trl1") /></td>*@
                <td>
                    <input type="checkbox" id="trl1"
                           @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
                </td>
            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.1</td>
                <td class='expandSUB1' align='right'>
                    Существует концепция (идея), которая может быть реализована в разрабатываемом программном обеспечении (ПО)
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_1"
                           @(ViewBag.Trls.Trl1_1 ? "checked=\"checked\"" : "")
                           ) />
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.2</td>
                <td class='expandSUB1' align='right'>
                    Известно в общих чертах, что должно делать ПО.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_2"
                           @(ViewBag.Trls.Trl1_2 ? "checked=\"checked\"" : "")
                           ) />
                </td>
            </tr>
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.3</td>
                <td class='expandSUB1' align='right'>
                    Подготовлены математические формулировки концепций (идей), которые могут быть реализованы в разрабатываемом ПО
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_3"
                           @(ViewBag.Trls.Trl1_3 ? "checked=\"checked\"" : "") />
                </td>
            </tr>
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.3</td>
                <td class='expandSUB1' align='right'>
                    Имеется идея, которая содержит базовые принципы возможного алгоритма разрабатываемого ПО
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_3"
                           @(ViewBag.Trls.Trl1_3 ? "checked=\"checked\"" : "") />
                </td>
            </tr>

        </tbody>











        <tbody class="labels" style="background-color: #ececec;">
            <tr>
                <td></td>
                <td>2</td>
                <td class='expandFRED'>Определены целевые области применения технологии и ее критические элементы ▼</td>
                @*<td><input type="checkbox" id="trl1") /></td>*@
                <td>
                    <input type="checkbox" id="trl1"
                           @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
                </td>
            </tr>

        </tbody>


        <tbody class="hide">
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.1</td>
                <td class='expandSUB1' align='right'>
                    Выполнено частичное программирование для подтверждения базовых принципов разрабатываемого ПО
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_1"
                           @(ViewBag.Trls.Trl1_1 ? "checked=\"checked\"" : "")
                           ) />
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.2</td>
                <td class='expandSUB1' align='right'>
                    Проведено тестирование разрабатываемого ПО на тестовом наборе данных.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_2"
                           @(ViewBag.Trls.Trl1_2 ? "checked=\"checked\"" : "")
                           ) />
                </td>
            </tr>
            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>2.3</td>
                <td class='expandSUB1' align='right'>
                    Известно, какое ПО и оборудование будут использованы в системе.
                </td>
                <td class='expandSUB1'>
                    <input type="checkbox" id="trl1_3"
                           @(ViewBag.Trls.Trl1_3 ? "checked=\"checked\"" : "") />
                </td>
            </tr>







        <tbody class="labels" style="background-color: #ececec;">
            <tr>
                <td></td>
                <td>3</td>
                <td class='expandFRED'>Получен макетный образец и продемонстрированы его ключевые характеристики.  ▼</td>
                @*<td><input type="checkbox" id="trl1") /></td>*@
                <td>
                    <input type="checkbox" id="trl1"
                           @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
                </td>
            </tr>

        </tbody>


        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.1</td>
            <td class='expandSUB1' align='right'>
                Аналитические исследования проверены для разрабатываемого ПО и выполняется разработка алгоритмов.
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.2</td>
            <td class='expandSUB1' align='right'>
                Определены общие схемы алгоритмов разрабатываемого ПО.
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.3</td>
            <td class='expandSUB1' align='right'>
                На этапе предварительного программирования разрабатываемого ПО проведена проверка, подтверждающая, что ПО может быть применимо.
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.4</td>
            <td class='expandSUB1' align='right'>
                Проверено в работе разрабатываемое ПО с ограниченным набором фактических данных.
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.5</td>
            <td class='expandSUB1' align='right'>
                Выполнена проверка работы алгоритма на процессоре-имитаторе в лабораторной среде.
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.6</td>
            <td class='expandSUB1' align='right'>
                Имеется информация о доступном на данный момент ПО, которое решает подобную задачу (100 % - инвентаризация всего ПО завершена).
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.7</td>
            <td class='expandSUB1' align='right'>
                Проверено существующее ПО на возможность повторного применения для данной технологии.
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>

        <tr>
            <td class='expandSUB1 expandVALS'></td>
            <td class='expandSUB1'>3.8</td>
            <td class='expandSUB1' align='right'>
                Известны ограничения доступного в настоящее время ПО (анализ существующего ПО завершен).
            </td>
            <td class='expandSUB1'>
                <input type="checkbox" id="trl1_5"
                       @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />
            </td>
        </tr>



        </tbody>

















        <tbody class="labels" style="background-color: #ececec;">

            <tr>
                <td></td>
                <td>4</td>
                <td class='expandFRED2'>Получен лабораторный образец, подготовлен лабораторный стенд, проведены испытания базовых функций связи с другими элементами системы . ▼</td>
                @*<td><input type="checkbox" id="trl2") /></td>*@
                <td>
                    <input type="checkbox" id="trl2"
                           @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />
                </td>

            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.1</td>
                <td class='expandSUB2' align='right'>
                    Начинается разработка формальной архитектуры ПО системы.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.2</td>
                <td class='expandSUB2' align='right'>
                    Результаты анализа дают детальную информацию о конкретных функциях, которые должно выполнять ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.3</td>
                <td class='expandSUB2' align='right'>
                    Требования для каждой функции разрабатываемого ПО установлены.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.4</td>
                <td class='expandSUB2' align='right'>
                    Алгоритмы преобразованы в псевдокод.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Завершен анализ требований к данным и их форматам.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Автономные модули соответствуют предварительному плану архитектуры системы.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Проведена проверка дизайна системы в ходе формального процесса инспекции.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Имеется возможность оценить размер компьютерной программы в строках кода и/или в функциональных модулях (точках).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Проведены эксперименты с полномасштабными задачами (требованиями) и фактическими наборами данных.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Продемонстрированы в лабораторной среде отдельные функции или модули ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>4.5</td>
                <td class='expandSUB2' align='right'>
                    Проведена частичная интеграция ПО функций или модулей, демонстрирующая их совместную работу.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>



        </tbody>


















        <tbody class="labels" style="background-color: #ececec;">

            <tr>
                <td></td>
                <td>5</td>
                <td class='expandFRED2'>Изготовлен экспериментальный образец в реальном масштабе по полупромышленной технологии и испытан, проведена эмуляция основных внешних условий. . ▼</td>
                @*<td><input type="checkbox" id="trl2") /></td>*@
                <td>
                    <input type="checkbox" id="trl2"
                           @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />
                </td>

            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.1</td>
                <td class='expandSUB2' align='right'>
                    Утверждена архитектура ПО системы.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.2</td>
                <td class='expandSUB2' align='right'>
                    Внешние интерфейсы описаны в части источника, формата, структуры, содержания (контент) и метода поддержки.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.3</td>
                <td class='expandSUB2' align='right'>
                    Завершен анализ требований к внутреннему интерфейсу.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.4</td>
                <td class='expandSUB2' align='right'>
                    Завершена разработка отдельных функций/модулей ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Функции интегрированы в программные модули.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Протестированы отдельные функции ПО для проверки их работоспособности.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Проверены на ошибки отдельные модули и функции ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Продемонстрирована в лабораторных условиях интеграция модулей/функций ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Выполнена и документально оформлена проверка всех модулей/компонентов как часть управления конфигурацией ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Алгоритмы выполняются на процессоре с характеристиками, близкими к характеристикам целевого окружения.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>


        </tbody>










        <tbody class="labels" style="background-color: #ececec;">

            <tr>
                <td></td>
                <td>6</td>
                <td class='expandFRED2'>Изготовлен полнофункциональный образец на пилотной производственной линии, подтверждены рабочие характеристики в условиях, приближенных к реальности . ▼</td>
                @*<td><input type="checkbox" id="trl2") /></td>*@
                <td>
                    <input type="checkbox" id="trl2"
                           @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />
                </td>

            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.1</td>
                <td class='expandSUB2' align='right'>
                    Завершена инвентаризация (формирование перечня) внешних устройств (интерфейсов).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.2</td>
                <td class='expandSUB2' align='right'>
                    Завершен анализ ограничений по времени (сроков исполнения).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.3</td>
                <td class='expandSUB2' align='right'>
                    Завершен анализ структур баз данных и интерфейсов.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.4</td>
                <td class='expandSUB2' align='right'>
                    Прототип ПО реализует большинство требуемых функциональных возможностей.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Алгоритмы частично интегрированы с существующим оборудованием/программными системами.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Испытаны отдельные модули для проверки (верификации) совместной работы их компонентов (функций).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Разработанное ПО или прототип продемонстрированы в лабораторных условиях.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Разработана часть документации на ПО (например, руководство пользователя, текст программы и т.д.).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Инициирована процедура верификации, валидации и сертификации (VV&A) разработанного ПО (ГОСТ Р ИСО/МЭК 12207).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.5</td>
                <td class='expandSUB2' align='right'>
                    Выпущена "альфа"-версия ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>
            </tr>
        </tbody>








        <tbody class="labels" style="background-color: #ececec;">

            <tr>
                <td></td>
                <td>7</td>
                <td class='expandFRED2'>Прототип системы продемонстрирован в составе системы в реальных условиях эксплуатации . ▼</td>
                @*<td><input type="checkbox" id="trl2") /></td>*@
                <td>
                    <input type="checkbox" id="trl2"
                           @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />
                </td>

            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.1</td>
                <td class='expandSUB2' align='right'>
                    Алгоритмы работают на процессоре(ах) в эксплуатационной среде.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.2</td>
                <td class='expandSUB2' align='right'>
                    Реализуется процедура "верификация, валидация и сертификация" (VV&A) по проверке соответствия ПО заданной спецификации.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.3</td>
                <td class='expandSUB2' align='right'>
                    Устранено большинство программных ошибок.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.4</td>
                <td class='expandSUB2' align='right'>
                    Выпущена "бета"-версия ПО.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>
            </tr>

        </tbody>









        <tbody class="labels" style="background-color: #ececec;">

            <tr>
                <td></td>
                <td>8</td>
                <td class='expandFRED2'>Окончательное подтверждение работоспособности образца. Разработка. функционирующей реальной системы завершена . ▼</td>
                @*<td><input type="checkbox" id="trl2") /></td>*@
                <td>
                    <input type="checkbox" id="trl2"
                           @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />
                </td>

            </tr>

        </tbody>

        <tbody class="hide">
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.1</td>
                <td class='expandSUB2' align='right'>
                    Большая часть эксплуатационной документации программного обеспечения завершена и находится под контролем системы управления конфигурацией (Configuration Control).
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.2</td>
                <td class='expandSUB2' align='right'>
                    Программное обеспечение тщательно отлажено.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.3</td>
                <td class='expandSUB2' align='right'>
                    Процесс подтверждения по VV&A завершен, ПО работает в реальных условиях.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>
            </tr>
            <tr>
                <td class='expandSUB2 expandVALS'></td>
                <td class='expandSUB2'>3.4</td>
                <td class='expandSUB2' align='right'>
                    Процесс сертификации по VV&A завершен, ПО сертифицировано для использования в предполагаемой системе.
                </td>
                <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>
            </tr>

        </tbody>
























    </table>
</div>

<br>

<h5 style="color: #3949AC;">Выполненные уровни - @ViewBag.Trls.TotalReady</h5>

<br>

@*<script>
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            Total = 10;

            var ready = @ViewBag.Trls.TotalReady;
            var notReady = Total - ready;

            var data = google.visualization.arrayToDataTable([
                ['Уровни', 'Количество'],
                ['Выполненные уровни', ready],
                ['Не выполненные уровни', notReady],
            ]);
            var options = {
                title: 'Готовность проекта',
                is3D: true,
                //pieResidueSliceLabel: 'Остальное'
            };
            var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
            chart.draw(data, options);
        }
    </script>*@


@*<div id="trl_diagram" style="width: 500px; height: 400px;"></div>*@

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {

        Total = 10;

        var ready = @ViewBag.Trls.TotalReady;
        var notReady = Total - ready;

        var data = google.visualization.arrayToDataTable([
            ['Уровни', 'Количество'],
            ['Выполненные уровни', ready],
            ['Не выполненные уровни', notReady],
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Готовность проекта', 'width': 600, 'height': 450, 'colors': ['#3949AC', '#d13030'] };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
        chart.draw(data, options);
    }
</script>


<div class="container">
    <div class="row">

        <div class="col-sm">
            <div id="trl_diagram"></div>
        </div>

        <div class="col-sm">
            <button class="btn btn-primary" onclick="save('@ViewBag.ThemeName')" href="#" style="text-align:center"> Сохранить </button>
            <a class="btn btn-primary" href="/TRLs?themeName=@ViewBag.ThemeName" style="text-align:center"> Назад </a>
        </div>

    </div>
</div>





<script type="text/javascript">
    function save(themeName) {

        var trl1_1 = document.getElementById('trl1_1').checked;
        var trl1_2 = document.getElementById('trl1_2').checked;
        var trl1_3 = document.getElementById('trl1_3').checked;
        var trl1_4 = document.getElementById('trl1_4').checked;
        var trl1_5 = document.getElementById('trl1_5').checked;
        var trl2_1 = document.getElementById('trl2_1').checked;
        var trl2_2 = document.getElementById('trl2_2').checked;
        var trl2_3 = document.getElementById('trl2_3').checked;
        var trl2_4 = document.getElementById('trl2_4').checked;
        var trl2_5 = document.getElementById('trl2_5').checked;

        //alert(trl1);
        //alert(trl2);

        $.ajax({
            url: '/save/' + themeName + '/' + trl1_1 + '/' + trl1_2 + '/' + trl1_3 + '/' + trl1_4 + '/' + trl1_5
                + '/' + trl2_1 + '/' + trl2_2 + '/' + trl2_3 + '/' + trl2_4 + '/' + trl2_5,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Ошибка выполнения!")
            }
        })
    }
</script>
