@model RD.Models.TRL;

@{
    ViewBag.Title = "TRL - Комплексная система";
    Layout = "_Layout";

    bool Trl1 = false, Trl2 = false, Trl3x = false, Trl4 = false, Trl5 = false, Trl6 = false, Trl7 = false, Trl8 = false;

}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="color: #343a40;">TRL - Комплексная система</h3>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });

    $(document).ready(function () {
        $(".expandFRED1").click(function () {
            $(".expandSUB1").toggle();
        });
        $(".expandFRED2").click(function () {
            $(".expandSUB2").toggle();
        });
        $(".expandFRED3").click(function () {
            $(".expandSUB3").toggle();
        });
        $(".expandFRED4").click(function () {
            $(".expandSUB4").toggle();
        });
        $(".expandFRED5").click(function () {
            $(".expandSUB5").toggle();
        });
        $(".expandFRED6").click(function () {
            $(".expandSUB6").toggle();
        });
        $(".expandFRED7").click(function () {
            $(".expandSUB7").toggle();
        });
        $(".expandFRED8").click(function () {
            $(".expandSUB8").toggle();
        });
        $(".expandFRED9").click(function () {
            $(".expandSUB9").toggle();
        });

        $(".expandVALS").click(function () {
            $(".expandCAT1").toggle();
        });
    })
</script>

<style>
    .label tr td label {
        display: block;
    }

    [data-toggle='toggle'] {
        display: none;
    }

    .expandSUB1 {
        display: none;
    }

    .expandSUB2 {
        display: none;
    }

    .expandSUB3 {
        display: none;
    }

    .expandSUB4 {
        display: none;
    }

    .expandSUB5 {
        display: none;
    }

    .expandSUB6 {
        display: none;
    }

    .expandSUB7 {
        display: none;
    }

    .expandSUB8 {
        display: none;
    }

    .expandSUB9 {
        display: none;
    }

    . {
        display: none;
    }

        .expandCAT1 {
            display: none;
        }

        .expandFRED1, .expandFRED2, .expandFRED3, .expandFRED4, .expandFRED5, .expandFRED6, .expandFRED7, .expandFRED8, .expandFRED9 {
            cursor: pointer;
        }
</style>

@{
    if (ViewBag.Trls3.Trl1_1 && ViewBag.Trls3.Trl1_2 && ViewBag.Trls3.Trl1_3 && ViewBag.Trls3.Trl1_4)
        Trl1 = true;
    else
        Trl1 = false;


    //if (ViewBag.Trls2.Trl2_1 && ViewBag.Trls2.Trl2_2 && ViewBag.Trls2.Trl2_3)
    //    Trl2x = true;
    //else
    //    Trl2x = false;


    //if (ViewBag.Trls2.Trl3_1 && ViewBag.Trls2.Trl3_2 && ViewBag.Trls2.Trl3_3 && ViewBag.Trls2.Trl3_4 && ViewBag.Trls2.Trl3_5
    //     && ViewBag.Trls2.Trl3_6 && ViewBag.Trls2.Trl3_7 && ViewBag.Trls2.Trl3_8)
    //    Trl3 = true;
    //else
    //    Trl3 = false;


    //if (ViewBag.Trls2.Trl4_1 && ViewBag.Trls2.Trl4_2 && ViewBag.Trls2.Trl4_3 && ViewBag.Trls2.Trl4_4 && ViewBag.Trls2.Trl4_5
    //    && ViewBag.Trls2.Trl4_6 && ViewBag.Trls2.Trl4_7 && ViewBag.Trls2.Trl4_8 && ViewBag.Trls2.Trl4_9 && ViewBag.Trls2.Trl4_10
    //    && ViewBag.Trls2.Trl4_11)
    //    Trl4 = true;
    //else
    //    Trl4 = false;


    //if (ViewBag.Trls2.Trl5_1 && ViewBag.Trls2.Trl5_2 && ViewBag.Trls2.Trl5_3 && ViewBag.Trls2.Trl5_4 && ViewBag.Trls2.Trl5_5
    //    && ViewBag.Trls2.Trl5_6 && ViewBag.Trls2.Trl5_7 && ViewBag.Trls2.Trl5_8 && ViewBag.Trls2.Trl5_9 && ViewBag.Trls2.Trl5_10)
    //    Trl5 = true;
    //else
    //    Trl5 = false;


    //if (ViewBag.Trls2.Trl6_1 && ViewBag.Trls2.Trl6_2 && ViewBag.Trls2.Trl6_3 && ViewBag.Trls2.Trl6_4 && ViewBag.Trls2.Trl6_5
    //    && ViewBag.Trls2.Trl6_6 && ViewBag.Trls2.Trl6_7 && ViewBag.Trls2.Trl6_8 && ViewBag.Trls2.Trl6_9 && ViewBag.Trls2.Trl6_10)
    //    Trl6 = true;
    //else
    //    Trl6 = false;


    //if (ViewBag.Trls2.Trl7_1 && ViewBag.Trls2.Trl7_2 && ViewBag.Trls2.Trl7_3 && ViewBag.Trls2.Trl7_4)
    //    Trl7 = true;
    //else
    //    Trl7 = false;


    //if (ViewBag.Trls2.Trl8_1 && ViewBag.Trls2.Trl8_2 && ViewBag.Trls2.Trl8_3 && ViewBag.Trls2.Trl8_4)
    //    Trl8 = true;
    //else
    //    Trl8 = false;


}

<form method="post" asp-action="SaveTRL3" asp-route-themeName="@ViewBag.ThemeName" asp-route-themeId="@ViewBag.ThemeId" asp-route-stageId="@ViewBag.StageId" name="trl3Form">

    <div style="overflow-x:auto;">
        <table class="table table-hover table-bordered" style="text-align: center; ">

            <thead>
                <tr>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Уровень TRL</th>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Наименование уровня TRL</th>
                    <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;">Статус</th>
                </tr>
            </thead>

            @*@foreach (var theme in @ViewBag.Themes)
        {
            <tr>
                <td><a class="nav-link text-dark" asp-area="" asp-controller="Stage" asp-action="Index">Этапы</a></td>
                <td>@theme.Number</td>
                <td>@theme.Name</td>
                <td>@theme.FioManager</td>
                <td>@theme.ExecutiveDepartment</td>
                <td>@theme.WorkStart</td>
                <td>@theme.WorkEnd</td>
                <td>@theme.Amount</td>
                <td>@theme.Vat</td>
                <td>@theme.AmountWithoutVat</td>
                <td>@theme.Decree</td>
                <td>@theme.DocType</td>
                <td>@theme.Props</td>
                <td>@theme.ResearchType</td>
                <td>@theme.Knowledge</td>
                <td>@theme.Status</td>

                <td>@Html.ActionLink("изменить", "User", new { id = user.Id })</td>
                <td><a onclick="deleteUser('@user.Id')" href="#"> удалить </a></td>

            </tr>
        }*@





            <tbody class="labels" style="background-color: #ececec;">
                <tr>
                    <td></td>
                    <td>1</td>
                    <td class='expandFRED'>Сформулирована фундаментальная концепция технологии и обоснование ее полезности ▼</td>
                    @*<td><input type="checkbox" id="trl1") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl1"
                    @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>

            </tbody>


            <tbody class="hide">
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.1</td>
                    <td class='expandSUB1' align='right'>
                        Сформулирована идея разработки новой технологии.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_1"
                    @(ViewBag.Trls.Trl1_1 ? "checked=\"checked\"" : "")
                    ) />*@
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.2</td>
                    <td class='expandSUB1' align='right'>
                        Определены используемые в новой технологии физические законы и допущения.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_2"
                    @(ViewBag.Trls.Trl1_2 ? "checked=\"checked\"" : "")
                    ) />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.3</td>
                    <td class='expandSUB1' align='right'>
                        Предварительные расчеты (исследования) подтверждают базовые принципы технологии.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_3"
                    @(ViewBag.Trls.Trl1_3 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Опубликованы начальные научные обзоры-результаты разработки технологии/системы в журналах/ конференциях/трудах/технических отчетах.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Опубликованы базовые научные принципы новой технологии.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Определен источник финансирования разработки технологии/системы.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Выдвинуты исследовательские гипотезы.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Известно, кто будет проводить исследование и где оно будет проводиться.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>


            <tbody class="labels" style="background-color: #ececec;">
                <tr>
                    <td></td>
                    <td>2</td>
                    <td class='expandFRED'>Определены целевые области применения технологии и ее критические элементы ▼</td>
                    @*<td><input type="checkbox" id="trl1") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl1"
                    @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>

            </tbody>


            <tbody class="hide">
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.1</td>
                    <td class='expandSUB1' align='right'>
                        Заказчик определен.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_1"
                    @(ViewBag.Trls.Trl1_1 ? "checked=\"checked\"" : "")
                    ) />*@
                    </td>
                </tr>

                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.2</td>
                    <td class='expandSUB1' align='right'>
                        Определена область применения разрабатываемой системы/технологии и компонентов (подсистем) системы.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_2"
                    @(ViewBag.Trls.Trl1_2 ? "checked=\"checked\"" : "")
                    ) />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.3</td>
                    <td class='expandSUB1' align='right'>
                        Предварительные исследования показывают, что разрабатываемая технология будет востребована и применение технологии осуществимо.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_3"
                    @(ViewBag.Trls.Trl1_3 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Известно, что будет поддержана программа разработки технологии.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Определены очевидные теоретические и эмпирические проектные решения.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Определен набор программных средств, используемых для разработки технологии или ПО, - среда разработчика.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Заказчик заинтересован в разработке системы и ее использовании.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Начальный анализ показал, какие основные функции системы должны быть сделаны.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Определена архитектура системы в соответствии с ее предполагаемыми основными функциями.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Определена система мониторинга требований для управления требованиями.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Тщательные аналитические исследования подтверждают базовые принципы разрабатываемой системы/технологии.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Выполненные аналитические исследования опубликованы в журналах/конференциях/трудах/технических отчетах.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Работают отдельные составные части системы/тех
                        нологии (не было реальных попыток их интеграции)
                        .
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Составлен список покупных компонентов системы.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Сформирован лист инвестиционной стратегии (включая список соисполнителей и финансовых затрат).
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Известны возможности и ограничения исследований и исследовательского оборудования.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Известно, какие эксперименты нужно провести (имеется в виду исследовательский подход).
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Выполнена качественная оценка областей риска (стоимость, график, характеристики).
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>
                <tr>
                    <td class='expandSUB1 expandVALS'></td>
                    <td class='expandSUB1'>2.4</td>
                    <td class='expandSUB1' align='right'>
                        Выполнены маркетинговые исследования рынка и разработана стратегия продвижения разрабатываемой системы/технологии на рынок.
                    </td>
                    <td class='expandSUB1'>
                        @*<input type="checkbox" id="trl1_4"
                    @(ViewBag.Trls.Trl1_4 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>




            <tbody class="labels" style="background-color: #ececec;">
                <tr>
                    <td></td>
                    <td>3</td>
                    <td class='expandFRED'>Получен макетный образец и продемонстрированы его ключевые характеристики.  ▼</td>
                    @*<td><input type="checkbox" id="trl1") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl1"
                    @(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                    </td>
                </tr>

            </tbody>


            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.1</td>
                <td class='expandSUB1' align='right'>
                    Сформирована научная среда (команда разработчиков технологии/системы).
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.2</td>
                <td class='expandSUB1' align='right'>
                    Лабораторные эксперименты подтверждают возможность применения технологии.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.3</td>
                <td class='expandSUB1' align='right'>
                    Определен представитель заказчика для работы с командой разработчика.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.4</td>
                <td class='expandSUB1' align='right'>
                    Заказчик принимает участие в формировании технических требований.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.5</td>
                <td class='expandSUB1' align='right'>
                    Начали выявляться эффекты перекрестного влияния технологии (если имеются).
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.6</td>
                <td class='expandSUB1' align='right'>
                    Выполнены расчетные исследования, показывающие, что компоненты системы могут работать вместе.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.7</td>
                <td class='expandSUB1' align='right'>
                    Заказчик определяет возможные сроки достижения требуемого результата ("окно возможностей").
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.8</td>
                <td class='expandSUB1' align='right'>
                    Установлены (определены) метрологические показатели разрабатываемой системы (разработана программа метрологического обеспечения).
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.9</td>
                <td class='expandSUB1' align='right'>
                    Начаты масштабные исследования по разработке системы.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.9</td>
                <td class='expandSUB1' align='right'>
                    Полностью продемонстрирована научная реализуемость - возможность создания системы/технологии.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.9</td>
                <td class='expandSUB1' align='right'>
                    Анализ современного уровня развития техники показывает, что разрабатываемая технология/система отвечает потребностям рынка.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.9</td>
                <td class='expandSUB1' align='right'>
                    В общих чертах определены области риска.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.9</td>
                <td class='expandSUB1' align='right'>
                    Определены стратегии реагирования на риски.
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            <tr>
                <td class='expandSUB1 expandVALS'></td>
                <td class='expandSUB1'>3.9</td>
                <td class='expandSUB1' align='right'>
                    Определена ориентировочная стоимость серийного образца системы (технологии).
                </td>
                <td class='expandSUB1'>
                    @*<input type="checkbox" id="trl1_5"
                @(ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "") />*@
                </td>
            </tr>

            </tbody>








            <tbody class="labels" style="background-color: #ececec;">

                <tr>
                    <td></td>
                    <td>4</td>
                    <td class='expandFRED2'>Получен лабораторный образец, подготовлен лабораторный стенд, проведены испытания базовых функций связи с другими элементами системы . ▼</td>
                    @*<td><input type="checkbox" id="trl2") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl2"
                    @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />*@
                    </td>

                </tr>

            </tbody>

            <tbody class="hide">
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.1</td>
                    <td class='expandSUB2' align='right'>
                        Полностью определены вопросы перекрестного использования технологии (если имеются).
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.2</td>
                    <td class='expandSUB2' align='right'>
                        Заказчиком определены основные требования к системе.
                    </td>
                    @*<td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.3</td>
                    <td class='expandSUB2' align='right'>
                        Установлены общие требования к системе, обеспечивающие ее использование конечным пользователем.
                    </td>
                    @* <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.4</td>
                    <td class='expandSUB2' align='right'>
                        Установлены основные тактико-технические характеристики (ТТХ) системы.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Установлены лабораторные требования, полученные на основе требований к системе.
                    </td>
                    @* <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Установлены научно-технические выходные критерии.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Технология демонстрирует базовую функциональность в упрощенной (лабораторной) среде.
                    </td>
                    @*<td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Задокументированы черновые варианты дизайна.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Имеется контролируемая (управляемая) лабораторная среда.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Определены начальные носители затрат.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Начаты исследования по интеграции разрабатываемой технологии или ПО.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Установлены цели по затратам (CAIV, cost as an independent variable - затраты как независимая переменная).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Завершен перечень документов, схем и диаграмм разрабатываемой системы/технологии.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Сформирован черновой вариант мастер-плана разработки системы (SEMP).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Завершены интеграция и проектирование технологической системы "низкой точности" в лабораторных условиях.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Заказчик обязуется перейти на усовершенствованную технологию и/или заключить договор о намерениях.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработана функциональная иерархическая структура работ (ИСР, WBS).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Официально созданы команда интеграции продукта (КИП) и ее устав.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Представитель заказчика является членом КИП.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Выполняется утвержденная программа управления рисками.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Проведен предварительный анализ функциональных отказов (FMEA) или анализ каскада рисков.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>4.5</td>
                    <td class='expandSUB2' align='right'>
                        Определен срок доступности (готовности) технологии.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>


            </tbody>







            <tbody class="labels" style="background-color: #ececec;">

                <tr>
                    <td></td>
                    <td>5</td>
                    <td class='expandFRED2'>Изготовлен экспериментальный образец в реальном масштабе по полупромышленной технологии и испытан, проведена эмуляция основных внешних условий. . ▼</td>
                    @*<td><input type="checkbox" id="trl2") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl2"
                    @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />*@
                    </td>

                </tr>

            </tbody>

            <tbody class="hide">
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.1</td>
                    <td class='expandSUB2' align='right'>
                        Определены и установлены на основе анализа перекрестные эффекты технологии (если имеются).
                    </td>
                    @*    <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.2</td>
                    <td class='expandSUB2' align='right'>
                        Известны требования к интерфейсам системы.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Требования к системе распределены по функциональной иерархической структуре работ - ИСР (начинается разработка системы).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Интерфейсы между компонентами/подсистемами являются реалистичными (макет с реалистичными интерфейсами).
                    </td>
                    @* <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Завершены интеграция и проектирование технологической системы "высокой точности" в лабораторных условиях для испытаний в реалистичных или смоделированных условиях.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Рассмотрены качество и надежность, но их целевые уровни еще не установлены.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Лабораторная среда приведена к условиям, близким к условиям эксплуатации.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Выполнена начальная оценка потребностей сборки.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработан черновик раздела мастер-плана разработки системы (SEMP) в части интеграции.
                    </td>
                    @*    <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработан черновик раздела SEMP в части тестирования и оценки.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработан черновик раздела SEMP в части механических и электрических интерфейсов.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработан черновик раздела SEMP в части производительности (характеристик); сделаны поправки в соответствии с ожидаемыми характеристиками.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Документально оформлен план управления рисками.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработан план управления конфигурацией.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Документально оформлен план управления конфигурацией.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Подготовлен черновик мастер-плана по испытаниям и оценке (TEMP).
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Заказчик обязуется выполнить требования меморандума о целях программы (POM - program objectives memorandum).
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Подготовлен черновик плана передачи технологии с обоснованием проекта.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Анализ стоимости включает анализ нескольких технологий и нематериальных альтернатив.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработана КИП матрица требований с пороговыми критериями и задачами.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Доступна иерархическая структура работ в соответствии с физической структурой системы (конструкции).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Анализ стоимости включает анализ стоимости жизненного цикла.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>

            </tbody>








            <tbody class="labels" style="background-color: #ececec;">

                <tr>
                    <td></td>
                    <td>6</td>
                    <td class='expandFRED2'>Изготовлен полнофункциональный образец на пилотной производственной линии, подтверждены рабочие характеристики в условиях, приближенных к реальности . ▼</td>
                    @*<td><input type="checkbox" id="trl2") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl2"
                    @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />*@
                    </td>

                </tr>

            </tbody>

            <tbody class="hide">
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.1</td>
                    <td class='expandSUB2' align='right'>
                        Завершено подтверждение результатов измерений и рабочих характеристик технологии.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.2</td>
                    <td class='expandSUB2' align='right'>
                        Происходят частые изменения конструкции и дизайна.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Известны условия эксплуатации конечной системы.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Начат сбор данных о фактической ремонтопригодности, надежности и техническом обслуживании.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Цели по стоимости проекта разработки системы (технологии) определены.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Модель и ПО разрабатываемой системы использованы для моделирования характеристик системы в условиях эксплуатации.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Составлен окончательный генеральный план испытаний и оценки (TEMP).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Демонстрационная модель (прототип) испытана в высокоточных лабораторных условиях, имитирующих условия эксплуатации.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Реалистичное окружение вне лаборатории, но частично не соответствует условиям эксплуатации.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Подготовлен финальный генеральный план системного проектирования (SEMP).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Обновлена редакция договора о передаче технологии (от разработчика заказчику).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Определен масштаб оставшихся проблем и завершен анализ технической поддержки.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Началось создание интерфейса процесса управления.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Согласован и утвержден заказчиком договор передачи технологии.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Завершена спецификация технологической системы.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Созданная в лаборатории система является высокоточным прототипом (по функциональности, параметрам) реальной системы.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Определена официальная программа управления конфигурацией для управления процессом изменений.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Завершены демонстрации интеграции компонентов системы.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Представлен заключительный научно-технический отчет.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Полностью продемонстрирована техническая реализация (осуществимость разработки).
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработан финальный план передачи технологии с обоснованием проекта доведения системы до серийного образца.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Разработана программа поставок системы (технологии) по годам.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Анализ стоимости включает коммерческие расходы.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Выполнен анализ технических альтернатив, включающий "существующие технологии".
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Готов список формальных требований к серийному образцу.
                    </td>
                    @*  <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
            </tbody>








            <tbody class="labels" style="background-color: #ececec;">

                <tr>
                    <td></td>
                    <td>7</td>
                    <td class='expandFRED2'>Прототип системы продемонстрирован в составе системы в реальных условиях эксплуатации . ▼</td>
                    @*<td><input type="checkbox" id="trl2") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl2"
                    @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />*@
                    </td>

                </tr>

            </tbody>

            <tbody class="hide">
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.1</td>
                    <td class='expandSUB2' align='right'>
                        Каждый интерфейс (система/ПО) индивидуально испытан в стрессовых и аномальных условиях.
                    </td>
                    @*<td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.2</td>
                    <td class='expandSUB2' align='right'>
                        Тестирование в эксплуатационной среде, но не на окончательной платформе, например на летающей лаборатории.
                    </td>
                    @* <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Данные по ремонтопригодности, надежности и удобству обслуживания получены на 60% от общего объема необходимых данных.
                    </td>
                    @*<td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Масштабирование завершено.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Большая часть функциональности системы доступна для демонстрации в смоделированной эксплуатационной среде.
                    </td>
                    @* <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Эксплуатационные/летные испытания лабораторной системы в реальной среде.
                    </td>
                    @*<td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Полностью интегрированный прототип продемонстрирован в реальной или смоделированной эксплуатационной среде.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Прототип системы успешно испытан в полевых условиях.
                    </td>
                    @* <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
            </tbody>





            <tbody class="labels" style="background-color: #ececec;">

                <tr>
                    <td></td>
                    <td>8</td>
                    <td class='expandFRED2'>Окончательное подтверждение работоспособности образца. Разработка. функционирующей реальной системы завершена. ▼</td>
                    @*<td><input type="checkbox" id="trl2") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl2"
                    @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />*@
                    </td>

                </tr>

            </tbody>

            <tbody class="hide">
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.1</td>
                    <td class='expandSUB2' align='right'>
                        Компоненты по форме, параметрам и функциям соответствуют операционной системе.
                    </td>
                    @*      <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.2</td>
                    <td class='expandSUB2' align='right'>
                        Дизайн системы по форме, параметрам и функциям соответствует планируемому применению.
                    </td>
                    @*    <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Форма, параметры и функции продемонстрированы на конечной системе.
                    </td>
                    @*    <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Завершен процесс проверки интерфейса.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Большая часть документации по обучению завершена и находится под контролем системы управления конфигурацией.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Большая часть документации по техническому обслуживанию завершена и находится под контролем системы управления конфигурацией.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Представлены на обсуждение окончательные архитектурные диаграммы.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Все функциональные возможности продемонстрированы в смоделированной эксплуатационной среде.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Система признана пригодной к эксплуатации после испытаний и оценки на реальной платформе. Разработка, испытание и оценка (DT&E) завершены.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Завершен сбор данных по ремонтопригодности, надежности и удобству обслуживания.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Разработка, испытание и оценка (DT&E) завершены, система соответствует спецификации.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
            </tbody>


            <tbody class="labels" style="background-color: #ececec;">

                <tr>
                    <td></td>
                    <td>9</td>
                    <td class='expandFRED2'>Изделие удовлетворяет всем требованиям: инженерным, производственным, эксплуатационным, по качеству и надежности. Возможна модификация по снижению себестоимости, развитию и эволюции системы Функционирующая реальная система подтверждена в ходе реальной эксплуатации через успешное выполнение испытательных заданий. ▼</td>
                    @*<td><input type="checkbox" id="trl2") /></td>*@
                    <td>
                        @*<input type="checkbox" id="trl2"
                    @(ViewBag.Trls.Trl2_1 && ViewBag.Trls.Trl2_2 && ViewBag.Trls.Trl2_3 && ViewBag.Trls.Trl2_4 && ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") />*@
                    </td>

                </tr>

            </tbody>

            <tbody class="hide">
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.1</td>
                    <td class='expandSUB2' align='right'>
                        Концепция использования системы успешно реализована.
                    </td>
                    @*      <td class='expandSUB2'><input type="checkbox" id="trl2_1" @(ViewBag.Trls.Trl2_1 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.2</td>
                    <td class='expandSUB2' align='right'>
                        Система установлена и запущена в эксплуатацию на предполагаемой платформе.
                    </td>
                    @*    <td class='expandSUB2'><input type="checkbox" id="trl2_2" @(ViewBag.Trls.Trl2_2 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.3</td>
                    <td class='expandSUB2' align='right'>
                        Вопросы безопасности/неблагоприятных эффектов выявлены и устранены.
                    </td>
                    @*    <td class='expandSUB2'><input type="checkbox" id="trl2_3" @(ViewBag.Trls.Trl2_3 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Реальная система полностью продемонстрирована.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.5</td>
                    <td class='expandSUB2' align='right'>
                        Реализован План обучения.
                    </td>
                    @*   <td class='expandSUB2'><input type="checkbox" id="trl2_5" @(ViewBag.Trls.Trl2_5 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Реализован План поддержки послепродажного обслуживания.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Реализован План защиты программы.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Проведены "летные испытания" разработанной системы в ходе успешной эксплуатации. Испытание и оценка в ходе эксплуатации (ОТ&Е) завершены.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                <tr>
                    <td class='expandSUB2 expandVALS'></td>
                    <td class='expandSUB2'>3.4</td>
                    <td class='expandSUB2' align='right'>
                        Завершена разработка всей документации.
                    </td>
                    @*     <td class='expandSUB2'><input type="checkbox" id="trl2_4" @(ViewBag.Trls.Trl2_4 ? "checked=\"checked\"" : "") /></td>*@
                </tr>
                
            </tbody>

        </table>
    </div>
    <br>

    <input name="TotalCount" type="number" hidden value="@ViewBag.Trls3.TotalCount" />

    <br>

    <h5 style="color: #3949AC;">Выполненные уровни - @ViewBag.Trls3.TotalCount</h5>

    <br>

    @*<script>
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);
            function drawChart() {

                Total = 10;

                var ready = @ViewBag.Trls.TotalReady;
                var notReady = Total - ready;

                var data = google.visualization.arrayToDataTable([
                    ['Уровни', 'Количество'],
                    ['Выполненные уровни', ready],
                    ['Не выполненные уровни', notReady],
                ]);
                var options = {
                    title: 'Готовность проекта',
                    is3D: true,
                    //pieResidueSliceLabel: 'Остальное'
                };
                var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
                chart.draw(data, options);
            }
        </script>*@


    @*<div id="trl_diagram" style="width: 500px; height: 400px;"></div>*@

    <script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {

        Total = 10;

        var ready = @ViewBag.Trls3.TotalCount;
        var notReady = Total - ready;

        var data = google.visualization.arrayToDataTable([
            ['Уровни', 'Количество'],
            ['Выполненные уровни', ready],
            ['Не выполненные уровни', notReady],
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Готовность проекта', 'width': 600, 'height': 450, 'colors': ['#3949AC', '#d13030'] };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('trl_diagram'));
        chart.draw(data, options);
    }
    </script>


    <div class="container">
        <div class="row">

            <div class="col-sm">
                <div id="trl_diagram"></div>
            </div>

            <div class="col-sm">
                <a class="btn btn-outline-dark" asp-controller="TRLs" asp-action="Index" asp-route-themeId="@ViewBag.ThemeId" asp-route-themeName="@ViewBag.ThemeName" asp-route-stageId="@ViewBag.StageId" style="text-align:center"> Назад </a>
                <button class="btn btn-primary" onclick="save('@ViewBag.ThemeName')" href="#" style="text-align:center"> Рассчитать </button>
            </div>
        </div>
    </div>

</form>

@*<script type="text/javascript">
        function save(themeName) {

            var trl1_1 = document.getElementById('trl1_1').checked;
            var trl1_2 = document.getElementById('trl1_2').checked;
            var trl1_3 = document.getElementById('trl1_3').checked;
            var trl1_4 = document.getElementById('trl1_4').checked;
            var trl1_5 = document.getElementById('trl1_5').checked;
            var trl2_1 = document.getElementById('trl2_1').checked;
            var trl2_2 = document.getElementById('trl2_2').checked;
            var trl2_3 = document.getElementById('trl2_3').checked;
            var trl2_4 = document.getElementById('trl2_4').checked;
            var trl2_5 = document.getElementById('trl2_5').checked;

            //alert(trl1);
            //alert(trl2);

            $.ajax({
                url: '/save_trl3/' + themeName + '/' + trl1_1 + '/' + trl1_2 + '/' + trl1_3 + '/' + trl1_4 + '/' + trl1_5
                    + '/' + trl2_1 + '/' + trl2_2 + '/' + trl2_3 + '/' + trl2_4 + '/' + trl2_5,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Ошибка выполнения!")
                }
            })
        }
    </script>*@
