@model RD.Models.Contract;

@{
    ViewBag.Title = "Редактирование договора";
    Layout = "_Layout";
}

@using (Html.BeginForm("Edit", "Contracts", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m => m.Id)
        <tr>
            <td style="padding: 4px;">Наменование договора:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.NameContract)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Срок выполнения - начало:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.WorkStart)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Срок выполнения - конец:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.WorkEnd)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Реквизиты договора:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Props)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Статус:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Status)
            </td>
        </tr>

        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Изменить" />
            </td>
            <td></td>
        </tr>

    </table>
}