@model RD.Models.Theme;

@{
    ViewBag.Title = "Редактирование темы";
    Layout = "_Layout";

    var CurTheme = ViewBag.CurrentTheme;

    var el = 0;

    if (CurTheme.DocType == "Гос.Контракт")

        el = 0;
    else if (CurTheme.DocType == "Договор")
        el = 1;
    else if (CurTheme.DocType == "Контракт")
        el = 2;
    else if (CurTheme.DocType == "Хоз.договора")
        el = 3;

    string WorkStart = "";
    string WorkEnd = "";

}

@{
    @if (ViewBag.CurrentTheme.WorkStart != null)
    {
        WorkStart = @ViewBag.CurrentTheme.WorkStart.ToString("yyyy-MM-dd");
    }
    else
    {
        WorkStart = @ViewBag.CurrentTheme.WorkStart;
    }

    @if (ViewBag.CurrentTheme.WorkEnd != null)
    {
        WorkEnd = @ViewBag.CurrentTheme.WorkEnd.ToString("yyyy-MM-dd");
    }
    else
    {
        WorkEnd = @ViewBag.CurrentTheme.WorkEnd;
    }
}


<h3>Изменение темы</h3>

@using (Html.BeginForm("Edit", "Themes", FormMethod.Post))
{
<table>

    @Html.HiddenFor(m => m.Id)

    <tr>
        <td style="padding: 4px;">Номер темы:</td>
        <td style="padding: 4px;">
            <input type="number" name="Number" value="@ViewBag.CurrentTheme.Number" />
        </td>
    </tr>


    <tr>
        <td style="padding: 4px;">Наименование темы:</td>
        <td style="padding: 4px;">
            <input type="text" name="Name" value="@ViewBag.CurrentTheme.Name" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">ФИО руководителя:</td>
        <td style="padding: 4px;">
            <input type="text" name="FioManager" value="@ViewBag.CurrentTheme.FioManager" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Подразделение исполнитель:</td>
        <td style="padding: 4px;">
            <input type="text" name="ExecutiveDepartment" value="@ViewBag.CurrentTheme.ExecutiveDepartment" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Заказчик работы:</td>
        <td style="padding: 4px;">
            <input type="text" name="CustomerName" value="@ViewBag.CurrentTheme.CustomerName" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Срок - начало:</td>
        <td style="padding: 4px;">
            <input type="date" id="WorkStart" name="WorkStart" value="@WorkStart" min="1950-01-01" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Срок - конец:</td>
        <td style="padding: 4px;">
            <input type="date" id="WorkEnd" name="WorkEnd" min="1950-01-01" value="@WorkEnd" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Приказ об открытии темы:</td>
        <td style="padding: 4px;">
            <input type="text" name="Decree" value="@ViewBag.CurrentTheme.Decree" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Вид документа:</td>
        <td style="padding: 4px;">
            <select name="DocType" size="1">
                <option value="Гос. Контракт">Гос. Контракт</option>
                <option value="Договор">Договор</option>
                <option value="Контракт">Контракт</option>
                <option value="Хоз. договора">Хоз. договора</option>
            </select>
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Общий объем финансирования:</td>
        <td style="padding: 4px;">
            <input type="number" name="Amount" value="@ViewBag.CurrentTheme.Amount" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">НДС:</td>
        <td style="padding: 4px;">
            <input type="number" name="Vat" value="@ViewBag.CurrentTheme.Vat" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Объем без НДС:</td>
        <td style="padding: 4px;">
            <input type="number" name="AmountWithoutVat" value="@ViewBag.CurrentTheme.AmountWithoutVat" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Реквизиты документа:</td>
        <td style="padding: 4px;">
            <input type="text" name="Props" value="@ViewBag.CurrentTheme.Props" />
        </td>
    </tr>




    @*@Html.DropDownListFor(model => model.TeamId, ViewBag.Teams as SelectList)*@


    @*<td style="padding: 4px;">
            <select name="DocType" size="1">
                <option @{if (el= =0) { @("selected") } } value="Гос. Контракт">Гос. Контракт</option>
                <option @{if (el= =1) "selected" } value="Договор">Договор</option>
                <option @{if (el= =2) "selected" } value="Контракт">Контракт</option>
                <option @{if (el= =3) "selected" } value="Хоз. договора">Хоз. договора</option>
            </select>
        </td>*@


    <tr>
        <td style="padding: 4px;">Тип исследования:</td>
        <td style="padding: 4px;">
            <select name="ResearchType" size="1">
                <option value="Прикладное">Прикладное</option>
                <option value="Фундаментальное">Фундаментальное</option>
                <option value="Разработка">Разработка</option>
                <option value="Поисковое">Поисковое</option>
                <option value="ОКР">ОКР</option>
            </select>
        </td>
    </tr>


    <tr>
        <td style="padding: 4px;">Область знания:</td>
        <td style="padding: 4px;">
            <input type="text" name="Knowledge" value="@ViewBag.CurrentTheme.Knowledge" />
        </td>
    </tr>

    <tr>
        <td style="padding: 4px;">Статус:</td>
        <td style="padding: 4px;">
            <input type="text" name="Status" value="@ViewBag.CurrentTheme.Status" />
        </td>
    </tr>


    @*@(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "")

        <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.ResearchType)
            </td>*@

    <tr><br></tr>

    <tr>
        <td style="padding: 4px;">
        </td>

        <td style="padding: 4px;">
            <a class="btn btn-outline-dark" href="/Themes" style="text-align:center">Отмена</a>
            <input type="submit" class="btn btn-outline-primary submitBtn" value="Изменить тему" />
        </td>

        <td style="padding: 4px;">
        </td>
    </tr>


</table>

}

