@model RD.Models.Theme;

@{
    ViewBag.Title = "Редактирование темы";
    Layout = "_Layout";

    var CurTheme = ViewBag.CurrentTheme;

    var el = 0;

    if (CurTheme.DocType == "Гос.Контракт")

        el = 0;
    else if (CurTheme.DocType == "Договор")
        el = 1;
    else if (CurTheme.DocType == "Контракт")
        el = 2;
    else if (CurTheme.DocType == "Хоз.договора")
        el = 3;

    string WorkStart = "";
    string WorkEnd = "";

}

@{
    @if (ViewBag.CurrentTheme.WorkStart != null)
    {
        WorkStart = @ViewBag.CurrentTheme.WorkStart.ToString("yyyy-MM-dd");
    }
    else
    {
        WorkStart = @ViewBag.CurrentTheme.WorkStart;
    }

    @if (ViewBag.CurrentTheme.WorkEnd != null)
    {
        WorkEnd = @ViewBag.CurrentTheme.WorkEnd.ToString("yyyy-MM-dd");
    }
    else
    {
        WorkEnd = @ViewBag.CurrentTheme.WorkEnd;
    }
}


<h2>Изменение темы</h2>
<br>

@using (Html.BeginForm("Edit", "Themes", FormMethod.Post))
{

    @Html.HiddenFor(m => m.Id)

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Номер темы</label>
        <div class="col-sm-10">
            <input type="text" name="Number" class="form-control" value="@ViewBag.CurrentTheme.Number" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Наименование темы</label>
        <div class="col-sm-10">
            <input type="text" name="Name" class="form-control" value="@ViewBag.CurrentTheme.Name" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">ФИО руководителя</label>
        <div class="col-sm-10">
            <input type="text" name="FioManager" class="form-control" value="@ViewBag.CurrentTheme.FioManager" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Подразделение исполнитель</label>
        <div class="col-sm-10">
            <input type="text" name="ExecutiveDepartment" class="form-control" value="@ViewBag.CurrentTheme.ExecutiveDepartment" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Заказчик работы</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="CustomerName" value="@ViewBag.CurrentTheme.CustomerName" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Срок - начало</label>
        <div class="col-sm-10">
            <input type="date" id="WorkStart" class="form-control" name="WorkStart" value="@WorkStart" min="1950-01-01" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Срок - конец</label>
        <div class="col-sm-10">
            <input type="date" id="WorkEnd" class="form-control" name="WorkEnd" value="@WorkEnd" min="1950-01-01" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Приказ об открытии темы</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Decree" value="@ViewBag.CurrentTheme.Decree" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Вид документа</label>
        <div class="col-sm-10">
            <select name="DocType" size="1" class="form-control">

                <option value="Гос. Контракт">Гос. Контракт</option>

                <option value="Договор">Договор</option>

                <option value="Контракт">Контракт</option>

                <option value="Хоз. договора">Хоз. договора</option>

            </select>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Общий объем финансирования</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="Amount" value="@ViewBag.CurrentTheme.Amount" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">НДС</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="Vat" value="@ViewBag.CurrentTheme.Vat" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Объем без НДС</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="AmountWithoutVat" value="@ViewBag.CurrentTheme.AmountWithoutVat" />
        </div>
    </div>



    @*@Html.DropDownListFor(model => model.TeamId, ViewBag.Teams as SelectList)*@


    @*<td style="padding: 4px;">
            <select name="DocType" size="1">
                <option @{if (el= =0) { @("selected") } } value="Гос. Контракт">Гос. Контракт</option>
                <option @{if (el= =1) "selected" } value="Договор">Договор</option>
                <option @{if (el= =2) "selected" } value="Контракт">Контракт</option>
                <option @{if (el= =3) "selected" } value="Хоз. договора">Хоз. договора</option>
            </select>
        </td>*@


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Реквизиты документа</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Props" value="@ViewBag.CurrentTheme.Props" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Тип исследования</label>
        <div class="col-sm-10">
            <select name="ResearchType" size="1" class="form-control">
                <option value="Прикладное">Прикладное</option>
                <option value="Фундаментальное">Фундаментальное</option>
                <option value="Разработка">Разработка</option>
                <option value="Поисковое">Поисковое</option>
                <option value="ОКР">ОКР</option>
            </select>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Область знания</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Knowledge" value="@ViewBag.CurrentTheme.Knowledge" />
        </div>
    </div>




    @*@(ViewBag.Trls.Trl1_1 && ViewBag.Trls.Trl1_2 && ViewBag.Trls.Trl1_3 && ViewBag.Trls.Trl1_4 && ViewBag.Trls.Trl1_5 ? "checked=\"checked\"" : "")

        <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.ResearchType)
            </td>*@


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Статус</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Status" value="@ViewBag.CurrentTheme.Status" />
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-4 col-form-label"></div>
        
        <div class="col-sm-2">
            <input type="button" class="btn btn-outline-dark" style="margin-left: 15px;" value="Отмена" onClick='location.href="/Themes"' />
        </div>
        
        <div class="col-sm-2">
            <input class="btn btn-outline-primary" type="submit" value="Изменить тему" />
        </div>
       
        <div class="col-sm-4 col-form-label"></div>
    </div>
       

}

