@model RD.Models.Theme;

@{
    ViewBag.Title = "Темы";
    Layout = "_Layout";
}

<style>
.theme_year:hover {
    cursor: default;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Темы</h3>
        </div>
        <div class="col-sm">
            <h5> <a class="nav-link" asp-controller="Themes" asp-action="Theme">Добавить тему</a> </h5>        
        </div>
        <div class="col-sm">
            
            <h5 style="padding: 0.5rem 1rem;">
                <input type="button" class="theme_year btn" id="theme_year" style="border-color: #0366d6; color: #0366d6;" value="2020"/>
            </h5>
        </div>
        <div class="col-sm">
            
            <div class="dropdown">
                
                    <button class="btn dropdown-toggle" style="font-size: 1.25rem; font-weight: 500;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выбор года 
                    </button>
               
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" style="color: #343a40;" type="button" href="#" onclick="changeYear(2020)">2020</a>
                        <a class="dropdown-item" style="color: #343a40;" href="#" onclick="changeYear(2021)">2021</a>
                        <a class="dropdown-item" style="color: #343a40;" href="#" onclick="changeYear(2022)">2022</a>
                    </div>
            </div>
                
        </div>
    </div>
</div>


<script type="text/javascript">
    function changeYear(year) {
        theme_year = document.getElementById("theme_year");
        theme_year.value = year;
    }
</script>

<div style="overflow-x:auto;">
    <table class="table table-hover" style="text-align: center; ">

        <thead class="thead-dark" >
            <tr>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem; padding-left: 1.5rem;vertical-align: middle;"></th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">№ темы</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Наименование темы</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">ФИО руководителя</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Подразделение исполнитель</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Заказчик работы</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Срок - начало</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Срок - конец</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Общий объем финансирования</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">НДС</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Объем без НДС</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Приказ об открытии темы</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Вид документа</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Реквизиты документа</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Вид исследования</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Область знания</th>
                <th scope="col" style="padding-bottom:0; padding-top:0rem;padding-left: 1.5rem;vertical-align: middle;">Статус</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var theme in @ViewBag.Themes)
                {
            <tr>
                <td><a class="nav-link" asp-area="" asp-route-themeName="@theme.Name" asp-controller="Stages" asp-action="Index">Этапы</a></td>

                <td>@Html.ActionLink("Изменить тему", "ChangingTheme", new { id = theme.Id })</td>

                <td>@theme.Number</td>
                <td>@theme.Name</td>
                <td>@theme.FioManager</td>
                <td>@theme.ExecutiveDepartment</td>
                <td>@theme.CustomerId</td>
                <td>@theme.WorkStart</td>
                <td>@theme.WorkEnd</td>
                <td>@theme.Amount</td>
                <td>@theme.Vat</td>
                <td>@theme.AmountWithoutVat</td>
                <td>@theme.Decree</td>

                <td>
                    <select name="DocType   " size="1">
                        <option selected value="s1">Гос. Контракт</option>
                        <option value="s2">Договор</option>
                        <option value="s3">Контракт</option>
                        <option value="s4">Хоз. договора</option>
                    </select>
                </td>

                @*<td>@theme.DocType</td>*@
                <td>@theme.Props</td>
                @*<td>@theme.ResearchType</td>*@

                <td>
                    <select name="ResearchType" size="1">
                        <option selected value="s1">Прикладное</option>
                        <option value="s2">Фундаментальное</option>
                        <option value="s3">Разработка</option>
                        <option value="s4">Поисковое</option>
                        <option value="s4">ОКР</option>
                    </select>
                </td>

                <td>@theme.Knowledge</td>
                <td>@theme.Status</td>

            </tr>
                }

            @*<tr>
                <td><a class="nav-link text-primary" asp-area="" asp-controller="Stages" asp-action="Index">Этапы</a></td>
                <td>1</td>
                <td>Тема1</td>
                <td>Петров И.А.</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>

            <tr>
                <td><a class="nav-link text-primary" asp-area="" asp-controller="Stages" asp-action="Index">Этапы</a></td>
                <td>2</td>
                <td>Тема2</td>
                <td>Иванов А.И.</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>*@


        </tbody>
    </table>
</div>