@model RD.Models.Theme;

@{
    ViewBag.Title = "Темы";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Темы</h3>
        </div>
        <div class="col-sm">
            <h5> <a class="nav-link" asp-controller="Themes" asp-action="Theme" >Добавить тему</a> </h5>        
        </div>
        <div class="col-sm">
            <h5 style="padding: 0.5rem 1rem;">2020</h5>
        </div>
        <div class="col-sm">
            
            <div class="dropdown">
                
                    <button class="btn dropdown-toggle" style="font-size: 1.25rem; font-weight: 500;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выбор года 
                    </button>
               
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" style="color: #343a40;" type="button" href="#">2020</a>
                        <a class="dropdown-item" style="color: #343a40;" href="#">2021</a>
                        <a class="dropdown-item" style="color: #343a40;" href="#">2022</a>
                    </div>
            </div>
                
        </div>
    </div>
</div>

<div style="overflow-x:auto;">
    <table class="table table-hover" style="text-align: center; ">

        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">№ темы</th>
                <th scope="col">Наименование темы</th>
                <th scope="col">ФИО руководителя</th>
                <th scope="col">Подразделение исполнитель</th>
                <th scope="col">Заказчик работы</th>
                <th scope="col">Срок - начало</th>
                <th scope="col">Срок - конец</th>
                <th scope="col">Общий объем финансирования</th>
                <th scope="col">НДС</th>
                <th scope="col">Объем без НДС</th>
                <th scope="col">Приказ об открытии темы</th>
                <th scope="col">Вид документа</th>
                <th scope="col">Реквизиты документа</th>
                <th scope="col">Вид исследования</th>
                <th scope="col">Область знания</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var theme in @ViewBag.Themes)
                {
            <tr>
                <td><a class="nav-link" asp-area="" asp-route-themeName="@theme.Name" asp-controller="Stages" asp-action="Index">Тема</a></td>
                <td>@theme.Number</td>
                <td>@theme.Name</td>
                <td>@theme.FioManager</td>
                <td>@theme.ExecutiveDepartment</td>
                <td>@theme.CustomerId</td>
                <td>@theme.WorkStart</td>
                <td>@theme.WorkEnd</td>
                <td>@theme.Amount</td>
                <td>@theme.Vat</td>
                <td>@theme.AmountWithoutVat</td>
                <td>@theme.Decree</td>
                <td>@theme.DocType</td>
                <td>@theme.Props</td>
                <td>@theme.ResearchType</td>
                <td>@theme.Knowledge</td>
                <td>@theme.Status</td>

            </tr>
                }

            @*<tr>
                <td><a class="nav-link text-primary" asp-area="" asp-controller="Stages" asp-action="Index">Этапы</a></td>
                <td>1</td>
                <td>Тема1</td>
                <td>Петров И.А.</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>

            <tr>
                <td><a class="nav-link text-primary" asp-area="" asp-controller="Stages" asp-action="Index">Этапы</a></td>
                <td>2</td>
                <td>Тема2</td>
                <td>Иванов А.И.</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>*@


        </tbody>
    </table>
</div>